extends layout
block content
    div(id="datatable-admin-add").row
        .x_panel
            .x_title
                h2
                    =" "+title.text
                .clearfix
                if title.small
                    div(class="alert alert-"+title.smallType)= title.small
            .x_content
                form(method="post").form-horizontal.form-label-left
                    for column in columns
                        .form-group
                            label(for=column.attr).control-label.col-md-3.col-sm-3.col-xs-12= column.title ? column.title : column.attr
                                if column.required
                                    span.required= "*"
                            div.col-md-6.col-sm-6.col-xs-12
                                input(
                                    name=column.attr,
                                    type="text",
                                    required=(column.required?"required":null),
                                    readonly=(column.type == "primary"),
                                    value=column.value
                                ).form-control.col-md-7.col-xs-12
                    .ln_solid
                        .form-group
                            .col-md-6.col-sm-6.col-xs-12.col-md-offset-3
                                button(type="submit").btn.btn-success= "Save"
