extends layout
block content
    // top tiles
    .row.tile_count
        for tile in tiles
            .col-md-2.col-sm-4.col-xs-6.tile_stats_count
                span.count_top
                    i(class="fa fa-"+tile.top.icon)
                    ="  "+tile.top.title
                if tile.count.green
                    .count.green="  "+tile.count.text
                else
                    .count= tile.count.text
                if tile.bottom
                    span.count_bottom
                        if tile.bottom.sort
                            i(class=tile.bottom.color)
                                i(class="fa fa-sort-"+tile.bottom.sort)
                                =tile.bottom.small
                        else
                            i(class=tile.bottom.color)= tile.bottom.small
                        if tile.bottom.href
                            a(href=tile.bottom.href)="  "+tile.bottom.title
                        else
                            ="  "+tile.bottom.title