footer.text-muted
    .container
        div
            a(id='scroll_top', href='javascript:;')=t('footer.scrolltop')
        div
            h4="INFORMATION"
            ul
                li
                    a(href='http://www.midburn.org')=t('Visit the homepage')
                li
                    a(href='http://midburn.org/he-ten-principles/')=t('Midburn 10 Priciples')
                li 
                    a(href='http://contribute-spark/')=t('How to contribute?')
