footer
    .container
        .row
            .col-xs-12.col-sm-4.text-left.text-center
                //img(src='/images/midburn_logo_120.png')
                p.font__mono
                    span="Spark "
                    a(href="#{process.env.SPARK_RELEASE_URL}") #{process.env.version}
                p.font__mono
                    span.glyphicon.glyphicon-chevron-left
                    span.glyphicon.glyphicon-chevron-right
                    span with
                    span.glyphicon.glyphicon-heart
                    span by Midburn Tech

            .col-xs-12.col-sm-4
                ul.footer__links
                    li
                        a(href="#{t('footer.toc_link')}" target='_blank')=t('footer.toc')
                    li
                        a(href='//www.midburn.org')=t('footer.visit_homepage')
                    li
                        a(href="#" id="toggleTheme")
                            i.fa.fa-paint-brush.m-1(aria-hidden='true')
                            =t('common:footer.change_theme')

            .col-xs-12.col-sm-4
                ul.footer__links
                    li
                        a(href='//github.com/Midburn/Spark')=t('footer.open_source')
                    li
                        a(href='//goo.gl/forms/fpJ2vcDrLSojyORy1')=t('footer.want_to_help')
                    li
                        a(href="#{t('footer.report_error_link')}" target='_blank')=t('footer.report_error')

