footer.text-muted
    .container
        .row
            .footer-nav.col-xs-12.col-sm-4
                a(href='http://www.midburn.org')=t('footer.visit_homepage')
            .footer-icons.footer-nav.col-xs-12.col-sm-4
                img.img-responsive.center-block(src='../../images/midburn_logo_120.png')
            .footer-nav.col-xs-12.col-sm-4
                a(href='#')=t('footer.report_error')
        .row
            .footer-links.col-xs-12.text-center
                ul
                    li
                        span=t('footer.spark')
                        a(href='https://github.com/Midburn/Spark')=t('footer.open_source')
                        span=t('footer.project')
                    li
                        a(href='https://goo.gl/forms/fpJ2vcDrLSojyORy1')=t('footer.want_to_help')
        .row
            .footer-links.col-xs-12.text-center
                ul
                    li
                        a(href='http://midburn.org/terms-and-privacy/')=t('footer.toc')
                    
                    li    
                        a(id='scroll_top', href='javascript:;')=t('footer.scrolltop')

//change - 'open-source' to a link to github, change 'want to help us code' to a link to the form