doctype html
head
    title Spark by Midburn
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    meta( name='description', content='Spark by Midburn' )
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css",
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7",
    crossorigin="anonymous", rel="stylesheet")
    link( rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css",
    integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r",
    crossorigin="anonymous" )

    if (language === 'he')
      link( rel="stylesheet" href="https://cdn.rawgit.com/morteza/bootstrap-rtl/v3.3.4/dist/css/bootstrap-rtl.min.css")

    link( rel="stylesheet", href="/stylesheets/main.scss" )
    // Font-awesome
    link(href='/gentelella/vendors/font-awesome/css/font-awesome.min.css', rel='stylesheet')

body( style='direction:#{languageDir}', lang=language, dir='#{languageDir}' )
    block wrapper
    include footer
    //- Scripts
    script(src='/gentelella/vendors/jquery/dist/jquery.min.js' )
    script(src="/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js",
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS",
        crossorigin="anonymous" )
    script(async src='https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js' )
    script(async src="https://www.google.com/recaptcha/api.js?hl=#{language}")
    script(src="/scripts/camps.js")
    script(src="/scripts/multiselect.js")
    script(src="/scripts/camps_v2.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")
    script(src="/scripts/members.js")
