doctype html
head
    title Spark by Midburn
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    meta( name='description', content='Spark by Midburn' )
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css",
    crossorigin="anonymous", rel="stylesheet")
    link( rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css",
    crossorigin="anonymous" )

    if (language === 'he')
        link( rel="stylesheet" href="https://cdn.rawgit.com/morteza/bootstrap-rtl/v3.3.4/dist/css/bootstrap-rtl.min.css")

    link( rel="stylesheet", href="/stylesheets/main.scss" )
    // Font-awesome
    link(href='/node_modules/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    // ng-ui-select
    link(rel='stylesheet', type='text/css', href='/node_modules/angular-ui-select/select.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css')

body( style='direction:#{languageDir}', lang=language, dir='#{languageDir}' )
    block wrapper
    //- Scripts
    script(src='/node_modules/jquery/dist/jquery.min.js' )
    script(src="/node_modules/bootstrap/dist/js/bootstrap.min.js",
    crossorigin="anonymous" )
    script(async src='https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js' )
    script(async src='/node_modules/bootstrap-table/dist/bootstrap-table.min.js')
    if (language === 'he')
        script(async src='/node_modules/bootstrap-table/dist/locale/bootstrap-table-he-IL.min.js')

    // External packages
    script(async src="https://www.google.com/recaptcha/api.js?hl=#{language}")
    script(src='/node_modules/sweetalert/dist/sweetalert.min.js')
    script(src='https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js')


    // Angular dependencies
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js")
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js')
    script(src="/node_modules/angular-ui-select/select.min.js")

    // Spark scripts
    script(src="/scripts/camps.js")
    script(src="/scripts/events.js")
    script(src="/scripts/cards.js")
    script(src="/scripts/ng_app.js")
    script(src="/scripts/controllers/camp_manage.js")
    script(src="/scripts/controllers/camp_edit.js")
    script(src="/scripts/controllers/camp_join.js")
    script(src="/scripts/controllers/events.js")

    block scripts
