extends layout
block wrapper
    nav( class="navbar navbar-default" )
        .container
            .navbar-header
                a( class="navbar-brand", href="/home" ) Spark
            div( id="navbar", class="navbar-collapse collapse" )
                ul( class="nav navbar-nav" )
                    li( class="active" )
                        a( href="home" ) Home
                    li( class="" )
                        //TODO Set active tab by code
                        a( href="npo" )=t('npo')
                ul( class="nav navbar-nav navbar-right")
                    a( href="/he#{req.url.substr(3)}" )
                        img( src="/images/flags/he.gif" )
                    a( href="/en#{req.url.substr(3)}" )
                        img( src="/images/flags/en.gif" )
                    li
                        //TODO replace 'a' tag with something else
                        a #{user.attributes.first_name} #{user.attributes.last_name}
                    li
                        a( href="logout" ) Logout
        .container
            block content
