extends layout
block wrapper
    nav.navbar.navbar-default.navbar-fixed-top
        .container
            .navbar-header
                button( type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand( href="/#{language}/home" ) Spark
            #navbar.navbar-collapse.collapse
                ul.nav.navbar-nav
                    li( class="#{path[2] === 'home' ? 'active' : undefined }" )
                        a( href="/#{language}/home" )=t('home')
                    li( class="#{path[2] === 'camps' ? 'active' : undefined }" )
                        a( href="/#{language}/camps" )=t('camps:nav')
                    li( class="#{path[2] === 'npo' ? 'active' : undefined }" )
                        a( href="/#{language}/npo" )=t('npo:npo_name')
                    if(user.isAdmin)
                        li( class="#{path[2] === 'camps-admin' ? 'active' : undefined }" )
                            a( href="/#{language}/camps-admin" )=t('camps:nav_admin')
                ul.nav.navbar-nav.navbar-right(style="#{language === 'he' ? 'float:left!important' : ''}")
                    li.dropdown
                        a.dropdown-toggle( href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
                            if (language=='he')
                                img( src="/images/flags/he.gif" )
                            if (language=='en')
                                img( src="/images/flags/en.gif" )
                            span.caret
                        ul.dropdown-menu
                            li
                                a( href="/he#{req.originalUrl.substr(3)}" )
                                    img( src="/images/flags/he.gif" )
                                    |&nbsp;
                                    span=t('hebrew')
                            li
                                a( href="/en#{req.originalUrl.substr(3)}" )
                                    img( src="/images/flags/en.gif" )
                                    |&nbsp;
                                    span=t('english')
                    li
                        a(href='/#{language}/whoami', aria-label="#{user.attributes.first_name} #{user.attributes.last_name}")
                            span.glyphicon.glyphicon-user(aria-hidden="true")
                    li
                        a( href= '/#{language}/logout' )=t('logout')
    .main.container
        #ajax_indicator.hide
        if (breadcrumbs !== undefined)
            include crumbs

        block content
    include footer
