nav.navbar.navbar-light.fixed-top.navbar-expand-md.white(class=language == 'he' ? 'rtl' : undefined)
    include navbar-header
    #navbar.navbar-collapse.collapse
        ul.navbar-nav.mr-auto
            li.nav-item.dropdown.disabled
                    a.nav-link.dropdown-toggle( href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")=t('common:top-nav.camps')
            li.nav-item.dropdown.disabled
                    a.nav-link.dropdown-toggle( href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")=t('common:top-nav.arts')
            li.nav-item( class="#{path[2] === 'volunteering' ? '' : '' }" )
                a.nav-link( href="/#{language}/volunteering" )=t('volunteering')
            if(user.isAdmin || user.isGateManager)
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle( href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")=t('common:top-nav.gate')              
                    ul.dropdown-menu
                        li.dropdown-item( class="#{path.slice(2).join('-') === 'gate' ? '' : '' }" )
                            a.nav-link( href="/#{language}/gate" )=t('gate:entries')
                        li.dropdown-item( class="#{path.slice(2).join('-') === 'gate-suppliers' ? '' : '' }" )
                            a.nav-link( href="/#{language}/gate/suppliers" )=t('suppliers:nav_entries')

            if(user.isCampsAdmin)
                li.nav-item( class="#{path[2] === 'camps-admin' ? '' : '' }" )
                    a.nav-link( href="/#{language}/camps-admin" )=t('camps:nav_admin')
                li.nav-item( class="#{path[2] === 'suppliers-admin' ? '' : '' }" )
                    a.nav-link( href="/#{language}/suppliers-admin" )=t('suppliers:nav_admin')
            if(user.isArtInstallationsAdmin)
                li.nav-item( class="#{path[2] === 'art-admin' ? '' : '' }" )
                    a.nav-link( href="/#{language}/art-admin" )=t('camps:art_installation.nav_admin')
            if(user.isProdDepsAdmin)
                li.nav-item( class="#{path[2] === 'prod-admin' ? '' : '' }" )
                    a.nav-link( href="/#{language}/prod-admin" )=t('camps:prod_dep.nav_admin')
            if(user.isAllowedToViewSuppliers || user.isAdmin)
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle( href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")=t('common:top-nav.manage')
                    ul.dropdown-menu
                        if(user.isCampsAdmin || user.isAdmin)
                            li.dropdown-item( class="#{path[2] === 'campsapp' ? '' : '' }" )
                                a.nav-link( href="/#{language}/campsapp?path=camps/management" )=t('camps:nav_admin')
                        li.dropdown-item( class="#{path[2] === 'suppliers-admin' ? '' : '' }" )
                            a.nav-link( href="/#{language}/suppliers-admin" )=t('suppliers:nav_admin')
                        if(user.isArtInstallationsAdmin || user.isAdmin)
                            li.dropdown-item( class="#{path[2] === 'art-admin' ? '' : '' }" )
                                a.nav-link( href="/#{language}/campsapp?path=arts/management" )=t('camps:art_installation.nav_admin')
                        if(user.isCampsAdmin || user.isAdmin)
                            li.dropdown-item(class="#{path[2] === 'camp-files-admin' ? '' : '' }")
                                a.nav-link(href="/#{language}/camp-files-admin")=t('camps:files.nav_admin')
                        if(user.isAdmin)
                            li.dropdown-item( class="#{path[2] === 'events-admin' ? '' : '' }" )
                                a.nav-link( href="/#{language}/events-admin" )=t('events:nav_admin')
                                if(user.isAllowedToViewSuppliers || user.isAdmin)
            if(user.isCampsAdmin || user.isAdmin || user.isArtInstallationsAdmin)
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle( href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
                        span=t('common:top-nav.allocations', {year: parseInt(user.currentEventId.replace('MIDBURN', '').replace('SANDBOX', ''))})
                        span.badge.badge-warning.yellow
                            span.icon-fire
                            span=t('common:new')
                    ul.dropdown-menu
                        li.dropdown-item
                            a.nav-link( href="/#{language}/campsapp?path=camps/allocations" )=t('common:top-nav.allocations-camps')
                        li.dropdown-item
                            a.nav-link( href="/#{language}/campsapp?path=arts/allocations" )=t('common:top-nav.allocations-arts')
        include nav-end
