nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
        .navbar-header
            button( type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand( href="/#{language}/home" ) Spark
        #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
                li( class="#{path[2] === 'home' ? 'active' : '' }" )
                    a( href="/#{language}/home" )=t('home')
                li( class="#{path[2] === 'camps' ? 'active' : '' }" )
                    a( href="/#{language}/camps" )=t('camps:nav')
                li( class="#{path[2] === 'volunteering' ? 'active' : '' }" )
                    a( href="/#{language}/volunteering" )=t('volunteering')
                if(user.isAdmin || user.isGateManager)
                    li.dropdown
                        a.dropdown-toggle( href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")=t('common:top-nav.gate')
                            span.caret
                        ul.dropdown-menu
                            li( class="#{path.slice(2).join('-') === 'gate' ? 'active' : '' }" )
                                a( href="/#{language}/gate" )=t('gate:entries')
                            li( class="#{path.slice(2).join('-') === 'gate-suppliers' ? 'active' : '' }" )
                                a( href="/#{language}/gate/suppliers" )=t('suppliers:nav_entries')

                if(user.isCampsAdmin)
                    li( class="#{path[2] === 'camps-admin' ? 'active' : '' }" )
                        a( href="/#{language}/camps-admin" )=t('camps:nav_admin')
                    li( class="#{path[2] === 'suppliers-admin' ? 'active' : '' }" )
                        a( href="/#{language}/suppliers-admin" )=t('suppliers:nav_admin')
                if(user.isArtInstallationsAdmin)
                    li( class="#{path[2] === 'art-admin' ? 'active' : '' }" )
                        a( href="/#{language}/art-admin" )=t('camps:art_installation.nav_admin')
                if(user.isProdDepsAdmin)
                    li( class="#{path[2] === 'prod-admin' ? 'active' : '' }" )
                        a( href="/#{language}/prod-admin" )=t('camps:prod_dep.nav_admin')
                if(user.isAllowedToViewSuppliers || user.isAdmin)
                    li.dropdown
                        a.dropdown-toggle( href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")=t('common:top-nav.manage')
                            span.caret
                        ul.dropdown-menu
                            if(user.isCampsAdmin || user.isAdmin)
                                li( class="#{path[2] === 'camps-admin' ? 'active' : '' }" )
                                    a( href="/#{language}/camps-admin" )=t('camps:nav_admin')
                            li( class="#{path[2] === 'suppliers-admin' ? 'active' : '' }" )
                                a( href="/#{language}/suppliers-admin" )=t('suppliers:nav_admin')
                            if(user.isArtInstallationsAdmin || user.isAdmin)
                                li( class="#{path[2] === 'art-admin' ? 'active' : '' }" )
                                    a( href="/#{language}/art-admin" )=t('camps:art_installation.nav_admin')
                            if(user.isCampsAdmin || user.isAdmin)
                                li(class="#{path[2] === 'camp-files-admin' ? 'active' : '' }")
                                    a(href="/#{language}/camp-files-admin")=t('camps:files.nav_admin')
                            if(user.isAdmin)
                                li( class="#{path[2] === 'events-admin' ? 'active' : '' }" )
                                    a( href="/#{language}/events-admin" )=t('events:nav_admin')
            ul.nav.navbar-nav.navbar-right(style="#{language === 'he' ? 'float:left!important' : ''}")
                li
                    a( href= '/#{language}/home' )=t('events:current_event_view')
                        span(aria-hidden="true") | #{user.currentEventId}
                li.dropdown
                    a.dropdown-toggle( href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
                        if (language == 'he')
                            img( src="/images/flags/he.gif" )
                        if (language == 'en')
                            img( src="/images/flags/en.gif" )
                        span.caret
                    ul.dropdown-menu
                        li
                            a( href="/he#{req.originalUrl.substr(3)}" )
                                img( src="/images/flags/he.gif" )
                                | &nbsp;
                                span=t('hebrew')
                        li
                            a( href="/en#{req.originalUrl.substr(3)}" )
                                img( src="/images/flags/en.gif" )
                                | &nbsp;
                                span=t('english')
                li
                    a(href='/#{language}/whoami', aria-label="#{user.attributes.first_name} #{user.attributes.last_name}")
                        span.glyphicon.glyphicon-user(aria-hidden="true")
                li
                    a( href= '/#{language}/logout' )=t('logout')
