extends ../../includes/page
block content
    .camps.camp_details
        section
            .heading.card.row
                .col-md-8
                    h2 #{camp.camp_name_en}
                    span.label.label-info #{t('camps:camps.title')} # #{id}
                    span.label.label-primary #{t('camps:camps.style')}: #{camp.type}
                    h6 #{t('camps:camps.since')}: #{camp.created_at}
                    p #{t('camps:camps.desc')} #{camp.camp_desc_en}
                .col-md-4
                    ul.list-group.text-center
                        li.list-group-item
                            if camp.enabled
                              span.no-flt.badge.bg__green Published
                            else
                              span.no-flt.badge.bg__red Draft
                        li.list-group-item
                            span Status
                                if camp.status == 'open'
                                    span.badge.bg__teal Open
                                else
                                    span.badge.bg__red Close
                        li.list-group-item
                            span Time active
                                span.badge #{details.camp_activity_time}
                        li.list-group-item
                            span #{t('camps:camps.child_friendly')} #{details.child_friendly}
                                span.badge #{details.child_friendly ? 'yes':'no'}
                        li.list-group-item
                            span #{t('camps:camps.noise')} #{details.noise_level}
                                span.badge #{details.noise_level}
                        li.list-group-item
                            span #{t('camps:camps.art')} #{details.support_art}
                                span.badge #{details.support_art ? 'yes':'no'}
            .row.card
                .row.management.col-md-12
                    h4=t('camps:camps.management_title')
                    .panel-body.col-xs-12.col-md-4
                        .contact-info
                            a.Btn.Btn__card(href='/users/#{camp.main_contact}')
                                span Main contact
                                h6=t('camps:camps.more_info')
                    .panel-body.col-xs-12.col-md-4
                        .contact-info
                            a.Btn.Btn__card(href='/users/#{camp.moop_contact}')
                                span Moop contact
                                h6=t('camps:camps.more_info')
                    .panel-body.col-xs-12.col-md-4
                        .contact-info
                            a.Btn.Btn__card(href='/users/#{camp.safety_contact}')
                                span Safety contact
                                h6=t('camps:camps.more_info')
                            

                .row.documents.col-md-12
                    h4=t('camps:camps.docs')
                    .panel-body
                        | documents list here
