extends ../../includes/page
block content
    .camps.camp_details
        section
            .heading.card.row
                .col-md-8
                    h2 #{camp.camp_name_en}
                    span.label.label-info Camp # #{id}
                    span.label.label-primary Camp Style: #{camp.type}
                    h6 Since: #{camp.created_at}
                    p Camp description #{camp.camp_desc_en}
                .col-md-4
                    ul.list-group
                        li.list-group-item
                            span Time active
                                span.badge #{details.camp_activity_time}
                        li.list-group-item
                            span Children friendly
                                span.badge #{details.child_friendly ? 'yes':'no'}
                        li.list-group-item
                            span Noise level
                                span.badge #{details.noise_level}
                        li.list-group-item
                            span Art?
                                span.badge #{details.support_art ? 'yes':'no'}
            .row.card
                .management.panel.col-md-12
                    h4 Camp Management
                    .panel-body.col-sm-4
                        .contact-info
                            h5 Main contact
                            a.Btn.Btn__transparent.Btn__sm.get_info(href='/users/#{camp.main_contact}') More Info
                    .panel-body.col-sm-4
                        .contact-info
                            h5 Moop contact
                            a.Btn.Btn__transparent.Btn__sm.get_info(href='/users/#{camp.moop_contact}') More Info
                    .panel-body.col-sm-4
                        .contact-info
                            h5 Safety contact
                            a.Btn.Btn__transparent.Btn__sm.get_info(href='/users/#{camp.safety_contact}') More Info

                .documents.col-md-12.panel
                    h4 Camp Documents
                    .panel-body
                        | documents list here
