extends ../../includes/page
block content
    .camps.camp_details
        section
            .heading.card.row
                .col-md-8
                    h2 #{camp.camp_name_en}
                    span.label.label-info Camp # #{id}
                    span.label.label-primary Camp Style: #{camp.type}
                    h6 Since: #{camp.created_at}
                    p Camp description #{camp.camp_desc_en}
                .col-md-4
                    ul.list-group.text-center
                        li.list-group-item
                            if camp.enabled
                              span.no-flt.badge.bg__green Published
                            else
                              span.badge.bg__red Draft
                        li.list-group-item
                            span Status
                                if camp.status == 'open'
                                    span.badge.bg__teal Open
                                else
                                    span.badge.bg__red Close
                        li.list-group-item
                            span Time active
                                span.badge #{details.camp_activity_time}
                        li.list-group-item
                            span Children friendly
                                span.badge #{details.child_friendly ? 'yes':'no'}
                        li.list-group-item
                            span Noise level
                                span.badge #{details.noise_level}
                        li.list-group-item
                            span Art?
                                span.badge #{details.support_art ? 'yes':'no'}
            .row.card
                .row.management.panel.col-md-12
                    h4 Camp Management
                    .panel-body.col-sm-4
                        .contact-info
                            a.Btn.Btn__lg(href='/users/#{camp.main_contact}')
                                span Main contact
                                h6 More Info
                    .panel-body.col-sm-4
                        .contact-info
                            a.Btn.Btn__lg(href='/users/#{camp.moop_contact}')
                                span Moop contact
                                h6 More Info
                    .panel-body.col-sm-4
                        .contact-info
                            a.Btn.Btn__lg(href='/users/#{camp.safety_contact}')
                                span Safety contact
                                h6 More Info
                            

                .row.documents.col-md-12.panel
                    h4 Camp Documents
                    .panel-body
                        | documents list here
