extends ../../includes/page
block content
    .camps.camp_details
        section
            .heading.card.card__shad.card__padding--even.row
                .col-xs-12.col-sm-10
                    h2 #{camp.camp_name_he}
                    h4 #{camp.camp_name_en}
                    span.label.label-info #{t('camps:camps.title')} # #{id}
                    span.label.label-primary #{t('camps:camps.style')}: #{camp.type}
                    h5 #{t('camps:camps.since')}: #{camp.created_at}
                    h5 #{t('camps:camps.desc')}
                    .col-xs-12.col-sm-6
                        p #{camp.camp_desc_en}
                    .col-xs-12.col-sm-6
                        p #{camp.camp_desc_he}
                .col-xs-12.col-sm-2
                    a.Btn.Btn__sm(href='/#{language}/camps/#{id}/edit')=t('camps:camps.edit')
                    ul.list-group.text-center
                        li.list-group-item
                            if camp.enabled
                              span.no-flt.badge.bg__green=t('camps:camps.published')
                            else
                              span.no-flt.badge.bg__red=t('camps:camps.draft')
                        li.list-group-item
                            span=t('camps:camps.status')
                                if camp.status == 'open'
                                    span.badge.bg__teal=t('camps:camps.status_open')
                                else if camp.status == 'closed'
                                    span.badge.bg__red=t('camps:camps.status_closed')
                                else
                                    span.badge.bg__teal=t('camps:edit.inactive')
                        li.list-group-item
                            span=t('camps:camps.accept_families')
                                span.badge #{camp.accept_families}
                        li.list-group-item
                            span=t('camps:camps.time_active')
                                span.badge #{details.camp_activity_time}
                        li.list-group-item
                            span #{t('camps:camps.child_friendly')} #{details.child_friendly}
                                span.badge #{details.child_friendly ? t('camps:camps.yes'):t('camps:camps.no')}
                        li.list-group-item
                            span #{t('camps:new.camp_noise_level')} #{details.noise_level}
                                span.badge #{details.noise_level}
                        li.list-group-item
                            span #{t('camps:camps.art')} #{details.support_art}
                                span.badge #{details.support_art ? t('camps:camps.yes'):t('camps:camps.no')}
            .row.card.card__shad
                .row.publication.col-md-12
                    h4=t('camps:camps.publication')
                    .col-xs-12.col-md-4
                        .contact-person.Btn.Btn__card(data-camp-contact-person-id='#{camp.contact_person_id}')
                            a.hidden(href='/users/#{camp.contact_person_id}')
                            span=t('camps:stats.contact_person')
                            h6 #{t('camps:camps.name')}: 
                                span.contact_person_name
                            h6 #{t('camps:camps.phone')}: 
                                span.contact_person_phone
                            h6 #{t('camps:camps.email')}: 
                                span.contact_person_email
                    .col-xs-12.col-md-4
                        .facebook-info.Btn
                            a(href='#{camp.facebook_page_url}', target='_blank')
                                span=t('camps:stats.facebook_page_url')
                .row.management.col-md-12
                    h4=t('camps:camps.management_title')
                    .col-xs-12.col-md-4
                        .contact-info
                            button.Btn.Btn__card.fetch_user_info(data-user-id='#{camp.main_contact}')
                                span=t('camps:camps.main_contact')
                                .info.hidden
                                    h6 #{t('camps:camps.name')}: 
                                        span.contact_person_name
                                    h6 #{t('camps:camps.phone')}: 
                                        span.contact_person_phone
                                    h6 #{t('camps:camps.email')}: 
                                        span.contact_person_email
                                h6=t('camps:camps.more_info')
                    .col-xs-12.col-md-4
                        .contact-info
                            a.Btn.Btn__card(href='/users/#{camp.moop_contact}')
                                span=t('camps:camps.moop_contact')
                                h6=t('camps:camps.more_info')
                    .col-xs-12.col-md-4
                        .contact-info
                            a.Btn.Btn__card(href='/users/#{camp.safety_contact}')
                                span=t('camps:camps.safety_contact')
                                h6=t('camps:camps.more_info')
                .row.documents.col-md-12.hidden
                    h4=t('camps:camps.docs')
                    .col-xs-12.col-md-4
                        | documents list here
