extends ../../includes/page
block content
    .camps.camp_details
        .heading.card.card__shad
            .card__actions
                if isAdmin || (isCampManager && camp_protoype !== 'art_installation' && !edit_camp_disabled) || (isCampManager && camp_protoype !== 'art_installation' && !edit_art_disabled)
                    .dropdown
                        a.Btn.Btn__default(href='/#{language}/camps/#{id}/edit')=t('camps:camps.edit')
            .card__details
                //- span.label.label-info #{t('camps:camps.title')} # #{id}
                h2
                  if language == 'en'
                    | #{camp.camp_name_en}
                  else
                    | #{camp.camp_name_he}
                .style
                    h5 #{t('camps:camps.style')}
                    each type in camp.type_i18n.split(',')
                        span.label.label-primary #{type.replace('edit.', '')}
                h5
                //- #{t('camps:camps.since')}: #{camp.created_at} // removed requested by lilach!
            .clearfix
            .desc.row
                .col-xs-12
                    h4 #{t('camps:camps.desc')}
                if language == 'en'
                    .col-xs-12.col-sm-6
                        p.well(lang='en', style='direction:ltr;white-space:pre-line')!=camp.camp_desc_en_linkify
                    .text-right.col-xs-12.col-sm-6
                        p.well(lang='he', style='direction:rtl;white-space:pre-line')!=camp.camp_desc_he_linkify
                else
                    .text-right.col-xs-12.col-sm-6
                        p.well(lang='he', style='direction:rtl;white-space:pre-line')!=camp.camp_desc_he_linkify
                    .col-xs-12.col-sm-6
                        p.well(lang='en', style='direction:ltr;white-space:pre-line')!=camp.camp_desc_en_linkify

        .card.card__shad
            .publication.row
                .col-xs-12
                    h4=t('camps:camps.publication')
                    p=t('camps:camps.publication_subtitle')
                .col-xs-12.col-md-6
                    .contact-person(data-camp-contact-person-id='#{camp.contact_person_id}')
                        //a(href='/users/#{camp.contact_person_id}')
                        span
                            strong=t('camps:stats.contact_person')
                        ul.list-group
                          li.list-group-item
                            span #{t('camps:camps.name')}:
                            span.badge.contact_person_name #{camp.contact_person_name}
                          li.list-group-item
                            span #{t('camps:camps.phone')}:
                            span.badge.contact_person_phone #{camp.contact_person_phone}
                          li.list-group-item
                            span #{t('camps:camps.email')}:
                            span.badge.contact_person_email #{camp.contact_person_email}
                if (camp.facebook_page_url)
                    .col-xs-12.col-md-6
                        span=t('camps:stats.facebook_page_url')
                        .facebook-info.Btn
                            a(href='#{camp.facebook_page_url}', target='_blank')
                                i(class="fa fa-facebook-official")
                                | &nbsp; #{t('camps:camps.facebook_page_url_link')}
            if (isUserInCamp && (main_contact || moop_contact || safety_contact))
                .management.row
                    .col-xs-12
                        h4=t('camps:camps.management_title')
                        //- camp manager (main contact)
                        if (main_contact)
                            .contact-info.col-md-4
                                span=t('camps:camps.main_contact')
                                //- button.Btn.Btn__card.fetch_user_info(data-user-type='type--main', data-user-id='#{camp.main_contact}')
                                    span=t('camps:camps.main_contact')
                                .info.type--main
                                    h6 #{t('camps:camps.name')}:
                                        span.contact_person_name #{main_contact.name}
                                    h6 #{t('camps:camps.phone')}:
                                        span.contact_person_phone #{main_contact.cell_phone ? main_contact.cell_phone : camp.contact_person_phone}
                                    h6 #{t('camps:camps.email')}:
                                        span.contact_person_email #{main_contact.email}
                                    //- a.details.hidden(href='/users/#{camp.main_contact}')=t('camps:camps.more_info')
                        //- moop contact
                        if (moop_contact)
                            .contact-info.col-md-4
                                span=t('camps:camps.moop_contact')
                                //- button.Btn.Btn__card.fetch_user_info(data-user-type='type--moop', data-user-id='#{camp.moop_contact}')
                                    span=t('camps:camps.moop_contact')
                                .info.type--moop
                                    h6 #{t('camps:camps.name')}:
                                        span.contact_person_name #{moop_contact.name}
                                    h6 #{t('camps:camps.phone')}:
                                        span.contact_person_phone #{moop_contact.cell_phone ? moop_contact.cell_phone : camp.contact_person_phone}
                                    h6 #{t('camps:camps.email')}:
                                        span.contact_person_email #{moop_contact.email}
                                    //- a.details.hidden(href='/users/#{camp.moop_contact}')=t('camps:camps.more_info')
                        //- safety contact
                        if (safety_contact)
                            .contact-info.col-md-4
                                span=t('camps:camps.safety_contact')
                                //- button.Btn.Btn__card.fetch_user_info(data-user-type='type--safety', data-user-id='#{camp.safety_contact}')
                                    span=t('camps:camps.safety_contact')
                                .info.type--safety
                                    h6 #{t('camps:camps.name')}:
                                        span.contact_person_name #{safety_contact.name}
                                    h6 #{t('camps:camps.phone')}:
                                        span.contact_person_phone #{safety_contact.cell_phone ? safety_contact.cell_phone : camp.contact_person_phone}
                                    h6 #{t('camps:camps.email')}:
                                        span.contact_person_email #{safety_contact.email}
                                    //- a.details.hidden(href='/users/#{camp.safety_contact}')=t('camps:camps.more_info')
            .modifications.row
                .col-xs-12
                    h4=t('camps:new.details')
                .col-xs-12.col-md-4
                    ul.list-group
                        li.list-group-item
                            span=t('camps:camps.accept_new_members')
                            if camp.status == 'open'
                                span.badge.green=t('camps:camps.status_open')
                            else if camp.status == 'closed'
                                span.badge.green=t('camps:camps.status_closed')
                            else
                                span.badge.green=t('camps:edit.inactive')
                        li.list-group-item
                            span=t('camps:camps.accept_families')
                            span.badge(class="#{details.accept_families ? 'green' : 'red' }") #{camp.accept_families ? t('camps:camps.yes'):t('camps:camps.no')}
                        li.list-group-item
                            span #{t('camps:camps.child_friendly')}
                            span.badge(class="#{details.child_friendly ? 'green' : 'red' }") #{details.child_friendly ? t('camps:camps.yes') : t('camps:camps.no')}
                        li.list-group-item
                            span #{t('camps:camps.art')}
                            span.badge(class="#{details.support_art ? 'green' : 'red' }") #{details.support_art ? t('camps:camps.yes') : t('camps:camps.no')}
                .col-xs-12.col-md-4
                    ul.list-group
                        li.list-group-item
                            span=t('camps:camps.time_active')
                            span.badge.blue #{details.camp_activity_time_i18n}
                        li.list-group-item
                            span #{t('camps:new.camp_noise_level')}
                            span.badge.blue #{details.noise_level_i18n}
                .col-xs-12.col-md-4
                    ul.list-group
                        li.list-group-item
                            span=t('camps:edit.location_street')
                            span.badge #{details.camp_location_street}
                        li.list-group-item
                            span #{t('camps:edit.location_time')}
                            span.badge #{details.camp_location_street_time}
            .modifications.row
                if suppliers.length > 0
                    .col-xs-12
                        h4=t('suppliers:edit_new.suppliers')
                    .col-xs-12.col-md-6
                        ul.list-group
                        each supplier in suppliers
                            li.list-group-item
                                span #{supplier.supplier_name_he} / #{supplier.supplier_name_en}
                                span.badge(class={blue:supplier.supplier_category === 'other', purple:supplier.supplier_category === 'moving'}) #{supplier.supplier_category}

            .documents.hidden
                h4=t('camps:camps.docs')
                .col-xs-12.col-md-4
                    | documents list here
                    