extends ../../includes/page
block content
    .camps.camp_editing
        section
            .heading.card.card__shad.row
                .col-md-12
                    h2=t('camps:docs.title')
                    .form-group
                    input.form-control(id='camps_docs_search_camp', type="text", placeholder="#{t('camps:docs.search')}", autofocus)
            .row
                .col-xs-12.card__shad
                    table.table.table-striped.table-hover
                        thead
                            tr.headers
                                th #
                                th.camp_name_en=t('camps:docs.camp_name_en')
                                th.camp_doc_type=t('camps:docs.doc_type')
                                th.camp_doc_name=t('camps:docs.doc_name')
                                th.camp_upload_date=t('camps:docs.upload_date')
                                th.camp_upload_data=t('camps:docs.upload_data')
                                th.camp_doc_status=t('camps:docs.doc_status')
                                th.camp_last_doc_status=t('camps:docs.last_doc_status')
                        tbody