extends ../../includes/page
block content
    script.
        var groups_prototype="#{__groups_prototype}";
        var totalTicketCount = "#{parseInt(camp.group_sale_tickets_quota || 0) + parseInt(camp.pre_sale_tickets_quota || 0)}";
        var groupSaleTicketCount = "#{parseInt(camp.group_sale_tickets_quota || 0)}";
        var preSaleTicketCount = "#{parseInt(camp.pre_sale_tickets_quota || 0)}";
        const controllDates = {
            appreciation_tickets_allocation_start : '#{new Date(controllDates.appreciation_tickets_allocation_start)}',
            appreciation_tickets_allocation_end : '#{new Date(controllDates.appreciation_tickets_allocation_end)}',
            group_sale_tickets_allocation_start: '#{new Date(controllDates.group_sale_tickets_allocation_start)}',
            group_sale_tickets_allocation_end: '#{new Date(controllDates.group_sale_tickets_allocation_end)}',
            early_arrivals_start: '#{new Date(controllDates.early_arrivals_start)}',
            early_arrivals_end: '#{new Date(controllDates.early_arrivals_end)}'
        }
    input.hidden.meta(id='meta__lang', value='#{language}')
    input.hidden.meta(id='meta__camp_name_en', value='#{camp.camp_name_en}')
    input.hidden.meta(id='meta__camp_id', value='#{camp.id}')
    input.hidden.meta(id='meta__grouptype', value='#{camp.__prototype}')
    input.hidden.meta(id='logged_user_id', value='#{user.attributes.user_id}')
    .camps.camp_edit(ng-app="ngCamps", ng-controller="campEditController")

        .heading.card.card__shad
            .card__actions
                if(isCamp)
                    .dropdown
                        a.Btn.Btn__default(href='/#{language}/camps/#{camp.id}')=t('camps:edit.view')
            if(isNew)
                h2=t('camps:new.header_title')
                h4=t('camps:new.header_desc')
            else
                span.label.label-info #{t(t_prefix+'edit.camp')} # #{camp.id}
                h2 #{t('camps:edit.title')}: #{camp.camp_name_en}
                h6 #{t('camps:edit.since')}: {{formatDate('#{camp.created_at}')}}
        .controls.row
            .col-xs-12
                //- Card switcher
                button.Btn.Btn__default.card-switcher#1=t('camps:edit.basic_info')
                if(isCamp)
                    button.Btn.Btn__transparent.card-switcher#2=t('camps:edit.details')
                //- TODO - test is user is camp manager of this camp
                if(!isNew)
                    button.Btn.Btn__transparent.card-switcher#3=t('camps:edit.members')
                    button.Btn.Btn__transparent.card-switcher#4=t('camps:edit.upload')
                    button.Btn.Btn__transparent.card-switcher#5=t('camps:edit.suppliers')
        .cards--wrapper.card__shad
            //- Card 1
            .card.card-first
                h4=t(t_prefix+'edit.name_and_desc')
                .camp-info.panel
                    .panel-body
                        .details-he.col-md-6
                            .col-xs-12
                                label(for='camp_name_he')=t('camps:edit.name_he')
                                input.form-control(id='camp_name_he', dir='rtl', name='camp_name_he', value=(isNew ? '' : '#{camp.camp_name_he}'), readonly, autofocus)
                            .col-xs-12
                                label(for='camp_desc_he')=t('camps:edit.desc_he')
                                textarea.form-control(id='camp_desc_he', dir='rtl', name='camp_desc_he') #{camp.camp_desc_he}
                        .details-en.col-md-6
                            .col-xs-12
                                label(for='camp_name_en')=t('camps:edit.name_en')
                                input.form-control(id='camp_name_en', dir='ltr', name='camp_name_en', value=(isNew ? '#{camp_name_en}' : '#{camp.camp_name_en}'), readonly, autofocus)
                            .col-xs-12
                                label(for='camp_desc_en')=t('camps:edit.desc_en')
                                textarea.form-control(id='camp_desc_en', dir='ltr', name='camp_desc_en') #{camp.camp_desc_en}
                if(isCamp)
                    h4=t('camps:new.midburn_website_publication')
                    .camp-publication.panel
                        .panel-body
                            .information
                                .row
                                    //- .col-md-4
                                    //-     .col-xs-12
                                    //-         //- TODO - fix for if(isNew)
                                    //-         label(for='camp_contact_person_id', data-camp-contact-person-id='#{camp.contact_person_id}') #{t('camps:new.contact_person_id')}
                                    //-         select.form-control(id='camp_contact_person_id', name='contact_person_id')
                                    //-             option(ng-repeat="member in members", ng-selected="member.user_id == #{camp.contact_person_id}", value="{{member.user_id}}") {{ member.name }} ({{ member.email }})
                                    .col-md-8
                                        .col-xs-12
                                            label(for='camp_facebook_page_url')=t('camps:new.facebook_page_url')
                                            input.form-control(id='camp_facebook_page_url', name='facebook_page_url', value=(isNew ? '' : '#{camp.facebook_page_url}'))

                                .row
                                    .col-md-4
                                        .col-xs-12
                                            label(for='camp_contact_person_name')=t('camps:edit.contact_person_name')
                                            input.form-control(id='camp_contact_person_name', name='contact_person_name', value=(isNew ? '#{user.fullName}' : '#{camp.contact_person_name}'))
                                    .col-md-4
                                        .col-xs-12
                                            label(for='camp_contact_person_email')=t('camps:edit.contact_person_email')
                                            input.form-control(id='camp_contact_person_email', name='contact_person_email', value=(isNew ? '#{user.attributes.email}' : '#{camp.contact_person_email}'))
                                    .col-md-4
                                        .col-xs-12
                                            label(for='camp_contact_person_phone')=t('camps:edit.contact_person_phone')
                                            input.form-control(id='camp_contact_person_phone', name='contact_person_phone', value=(isNew ? user.attributes.cell_phone ? '#{user.attributes.cell_phone}' : '' : '#{camp.contact_person_phone}'))
                                .row
                                    .col-md-4
                                        .col-xs-12
                                            label(for='camp_status', data-camp-status='#{camp.status}') #{t('camps:edit.status')}
                                            select.form-control(id='camp_status', name='status')
                                                option(ng-repeat="option in status_options", ng-selected="option.id == '#{camp.status}'", value="{{option.id}}") {{option.value}}
                                    .col-md-4
                                        .col-xs-12
                                            label(for='camp_accept_families')=t('camps:camps.accept_families')
                                            input.checkbox(id='camp_accept_families', checked='#{camp.accept_families}', type='checkbox', name='accept_families')
                                            script.
                                                // set checkbox status
                                                var checkbox = document.getElementById("camp_accept_families");
                                                checkbox.checked = checkbox.attributes.checked.value == "1" ? true:false

                if (!isNew)
                    h4=t('camps:edit.contact_title')
                    .camp-leaders.panel
                        .panel-body
                            .personnel
                                .col-md-4
                                    .col-xs-12
                                        label(for='camp_main_contact')=t('camps:edit.main_contact')
                                        select.form-control.form__input--important(id='camp_main_contact', name='main_contact')
                                            option(ng-repeat="member in approved_members", ng-selected="member.user_id == #{camp.main_contact}", value="{{member.user_id}}") {{ member.name}} ({{ member.email }})
                                if (isCamp)
                                    .col-md-4
                                        .col-xs-12
                                            label(for='camp_moop_contact')=t('camps:edit.moop_contact')
                                            select.form-control(id='camp_moop_contact', name='moop_contact')
                                                option(ng-repeat="member in approved_members", ng-selected="member.user_id == #{camp.moop_contact}", value="{{member.user_id}}") {{ member.name}} ({{ member.email }})
                                    .col-md-4
                                        .col-xs-12
                                            label(for='camp_safety_contact')=t('camps:edit.safety_contact')
                                            select.form-control(id='camp_safety_contact', name='safety_contact')
                                                option(ng-repeat="member in approved_members", ng-selected="member.user_id == #{camp.safety_contact}", value="{{member.user_id}}") {{ member.name}} ({{ member.email }})

                    h4=t(t_prefix+'edit.add_info')
                    .camp-details.panel
                        .panel-body
                            .camp-location
                                if(isCamp)
                                    h5=t('camps:edit.location_title')

                                    //------- Lilach requested to hide input -------------//
                                    //- .col-md-4
                                    //-     .col-xs-12
                                    //-         label(for='location_comments')=t('camps:edit.location_comments')
                                    //-         input.form-control(id='location_comments', name='location_comments', value=(isNew ? '' : '#{details.location_comments}'))
                                    .col-md-4
                                            label(for='camp_location_street')=t('camps:edit.location_street')
                                            input.form-control(id='camp_location_street', name='camp_location_street', value=(isNew ? '' : (details.camp_location_street===null?'':'#{details.camp_location_street}')),readonly=(!isAdmin?'true':undefined))
                                    .col-md-4
                                            label(for='camp_location_street_time')=t('camps:edit.location_time')
                                            input.form-control(id='camp_location_street_time', name='public_camp_location_street_time', value=(isNew ? '' : (details.camp_location_street_time===null?'':'#{details.camp_location_street_time}')),readonly=(!user.isAdmin?'true':undefined))
                                    .col-md-4
                                            label(for='camp_location_area')=t('camps:edit.location_area')
                                            input.form-control(id='camp_location_area', name='public_camp_location_area', value=(isNew ? '' : (details.camp_location_area === null ? '' : '#{details.camp_location_area}')),readonly=(!isAdmin ? 'true' : undefined))
                                    //- .col-md-4
                                    //-     .col-xs-12
                                    //-         label(for='camp_location_area')=t('camps:edit.location_area')
                                    //-         input.form-control(id='camp_location_area', type='number', name='public_camp_location_area', value=(isNew ? '' : '#{details.camp_location_area}'))
                                .col-md-4
                                        label(for='entrance_quota')=t('camps:edit.early_arrival_quota')
                                        input.form-control(id='entrance_quota', name='entrance_quota', value=(isNew ? 0 : (camp.entrance_quota === null ? '' : '#{camp.entrance_quota}')),readonly=(!isAdmin ? 'true' : undefined))
                                .col-md-4
                                        label(for='pre_sale_tickets_quota')=t('camps:stats.pre_sale_tickets_quota')
                                        input.form-control(id='pre_sale_tickets_quota', name='pre_sale_tickets_quota', value=(isNew ? 0 : (camp.pre_sale_tickets_quota === null ? 0 : '#{camp.pre_sale_tickets_quota}')),readonly=(!isAdmin ? 'true' : undefined))

            //- BEGIN Card 2: Basic Details
            .card.card-second.card-hide
                h4=t('camps:edit.behavior_title')
                .camp-details.panel
                    .panel-body
                        .camp-behavior
                            .col-md-4
                                    label(for='camp_activity_time', data-camp-status='#{camp.status}') #{t('camps:edit.camp_activity_time')}
                                        .checkbox
                                            input(type="checkbox", class='camp_activity_time', id="activity_time_morning", name="activity_time_morning", value="morning", checked=camp.camp_activity_time ? (camp.camp_activity_time.indexOf('morning') > -1 ? "checked" : undefined) : undefined)
                                            label(for="activity_time_morning")
                                                | #{t('camps:new.camp_activity_time_morning')}
                                        .checkbox
                                            input(type="checkbox", class='camp_activity_time', id="activity_time_noon", name="activity_time_noon", value="noon", checked=camp.camp_activity_time ? (camp.camp_activity_time.indexOf('drinks') > -1 ? "noon" : undefined) : undefined)
                                            label(for="activity_time_noon")
                                                | #{t('camps:new.camp_activity_time_noon')}
                                        .checkbox
                                            input(type="checkbox", class='camp_activity_time', id="camp_activity_time_evening", name="camp_activity_time_evening", value="evening", checked=camp.camp_activity_time ? (camp.camp_activity_time.indexOf('evening') > -1 ? "checked" : undefined) : undefined)
                                            label(for="camp_activity_time_evening")
                                                | #{t('camps:new.camp_activity_time_evening')}
                                        .checkbox
                                            input(type="checkbox", class='camp_activity_time', id="camp_activity_time_night", name="camp_activity_time_night", value="night", checked=camp.camp_activity_time ? (camp.camp_activity_time.indexOf('night') > -1 ? "checked" : undefined) : undefined)
                                            label(for="camp_activity_time_night")
                                                | #{t('camps:new.camp_activity_time_night')}
                            .col-md-4
                                    label(for='camp_type', data-camp-type='#{camp.type}') #{t('camps:edit.type')}
                                        .checkbox
                                            input(type="checkbox", class='camp_type', id="type_music", name="type_music", value="music", checked=camp.type ? (camp.type.indexOf('music') > -1 ? "checked" : undefined) : undefined)
                                            label(for="type_music")
                                                | #{t('camps:edit.music')}
                                        .checkbox
                                            input(type="checkbox", class='camp_type', id="type_drinks", name="type_drinks", value="drinks", checked=camp.type ? (camp.type.indexOf('drinks') > -1 ? "checked" : undefined) : undefined)
                                            label(for="type_drinks")
                                                | #{t('camps:edit.drinks')}
                                        .checkbox
                                            input(type="checkbox", class='camp_type', id="type_workshop", name="type_workshop", value="workshop", checked=camp.type ? (camp.type.indexOf('workshop') > -1 ? "checked" : undefined) : undefined)
                                            label(for="type_workshop")
                                                | #{t('camps:edit.workshop')}
                                        .checkbox
                                            input(type="checkbox", class='camp_type', id="type_art", name="type_art", value="art", checked=camp.type ? (camp.type.indexOf('art') > -1 ? "checked" : undefined) : undefined)
                                            label(for="type_art")
                                                | #{t('camps:edit.art')}
                                        .checkbox
                                            input(type="checkbox", class='camp_type', id="type_lecture", name="type_lecture", value="lecture", checked=camp.type ? (camp.type.indexOf('lecture') > -1 ? "checked" : undefined) : undefined)
                                            label(for="type_lecture")
                                                | #{t('camps:edit.lecture')}
                                        .checkbox
                                            input(type="checkbox", class='camp_type', id="type_food", name="type_food", value="food", checked=camp.type ? (camp.type.indexOf('food') > -1 ? "checked" : undefined) : undefined)
                                            label(for="type_food")
                                                | #{t('camps:edit.food')}
                                        .checkbox
                                            input(type="checkbox", class='camp_type', id="camp_type_other_checkbox", name="type_other", value="other", checked=camp.type && (camp.type.slice(camp.type.indexOf('other') + 6)).length > 0 ? "checked" : undefined)
                                            label(for="camp_type_other_checkbox")
                                                | #{t('camps:edit.other')}
                                            input(id='camp_type_other_text', type="text", class="form-control checkbox-other", name="type_other_text", value=(camp.type.slice(camp.type.lastIndexOf(',') + 1)))
                            .col-md-4
                                    label(for='camp_child_friendly') #{t('camps:edit.camp_child_friendly')}
                                    input.checkbox(id='camp_child_friendly', checked='#{camp.child_friendly}', type="checkbox", name='child_friendly')
                                    script.
                                        // set checkbox status
                                        var checkbox = document.getElementById("camp_child_friendly");
                                        checkbox.checked = checkbox.attributes.checked.value == "1" ? true:false
                            .col-md-4
                                    //- script.
                                    //-     var noise_level = {
                                    //-       "quiet": "#{t('camps:new.camp_noise_level_quiet')}",
                                    //-       "medium": "#{t('camps:new.camp_noise_level_medium')}",
                                    //-       "noisy": "#{t('camps:new.camp_noise_level_noisy')}",
                                    //-       "very noisy": "#{t('camps:new.camp_noise_level_very_noisy')}"
                                    //-     }
                                    label(for='noise_level') #{t('camps:edit.camp_noise_level')}
                                    select(id='camp_noise_level', class="form-control", name="noise_level")
                                        option(ng-repeat="option in noise_level_options", ng-selected="option.id == '#{camp.noise_level}'", value="{{option.id}}") {{option.value}}



                //------- Lilach requested to hide section -------------//
                //- h4=t('camps:edit.public_area_title')
                //- .camp-details.panel
                //-     .panel-body
                //-         .camp-public
                //-             .col-md-4
                //-                 .col-xs-12
                //-                     label(for='public_activity_area_sqm')=t('camps:edit.public_activity_area_sqm')
                //-                     input.form-control(id='public_activity_area_sqm', name='public_activity_area_sqm', value=(isNew ? '' : '#{details.public_activity_area_sqm}'))
                //-             .col-md-4
                //-                 .col-xs-12
                //-                     label(for='public_activity_area_desc')=t('camps:edit.public_activity_area_desc')
                //-                     input.form-control(id='public_activity_area_desc', name='public_activity_area_desc', value=(isNew ? '' : '#{details.public_activity_area_desc}'))
                //-             .col-md-4
                //-                 .col-xs-12
                //-                     label(for='support_art')=t('camps:edit.support_art')
                //-                     input.checkbox(id='support_art', checked='#{details.support_art}', type="checkbox", name='public_support_art', value='#{details.support_art}')
                //-                     script.
                //-                         // set checkbox status
                //-                         var checkbox = document.getElementById("support_art");
                //-                         checkbox.checked = checkbox.attributes.checked.value == "1" ? true:false

            //- END Card 2: Basic Details


            //- BEGIN Card 3:  Manage Members
            .card.card-third.card__shad.card__padding--even.card-hide.col-xs-12.table-responsive
                include partials/members_table_statistics
                .row
                    .col-xs-12
                        .form-inline
                            form(name="add_member_form")
                                input.form-control(name = 'user_email', ng-model='camps_members_add_member', type="text", placeholder="#{t('camps:edit.add_member_placeholder')}", required)
                                button.Btn.Btn__sm(ng-click="addMember()", ng-disabled="add_member_form.user_email.$invalid") + #{t('camps:members.add_member')}
                        .form-group
                        input.form-control(id='camps_members_search_member', ng-model="searchMembers", type="text", placeholder="#{t('camps:edit.search_member')}", name="camps_members_search_member" autofocus)
                .row
                    .col-xs-12
                        include partials/members_table

            //- END Card 3:  Manage Members



            //- BEGIN Card 4: Upload Docs & Files
            .card.card-forth.card-hide
                h4=t('camps:edit.upload_header')
                .camp-members.panel
                    .panel-body
                        .names.col-md-12
                            .col-xs-12
                                //- label(for='edit_camp_upload_security_file')=t('camps:edit.security_file')
                                //- input.form-control(type="file" id='edit_camp_upload_security_file', name='security_file')
                                include partials/camp_files
            //- END Card 4: Upload Docs & Files
            //- BEGIN Card 5:  Manage Suppliers
            .card.card-fifth.card__shad.card-hide
                .camp-info.panel
                    .panel-body
                        h4=t('camps:edit.suppliers')
                        .form-inline
                            input.form-control(list="campSupplierList", name="" ng-model='add_supplier_id', type="text", placeholder="#{t('camps:edit.choose_supplier')}")
                            datalist(id="campSupplierList")
                                option(ng-repeat="supplier in all_suppliers | filter: add_supplier_id", data-id="{{ supplier.supplier_id }}" value="{{ supplier.supplier_id }}")
                                    {{ supplier.supplier_name_he }} | {{ supplier.supplier_name_en }}
                            button.Btn.Btn__sm(ng-click="addSupplier(); add_supplier_id=''") + #{t('camps:edit.add_supplier')}
                        .col-xs-12
                            p(class="text-red"){{addSupplierError}}
                        .col-xs-12
                            table.table.table-striped.table-hover
                                tr.row(ng-repeat="supplier in camp_suppliers")
                                    td.col
                                        {{supplier.supplier_id}}
                                    td.col
                                        {{lang === 'he' ? supplier.supplier_name_he : supplier.supplier_name_en}}
                                    td.col
                                        {{supplier.main_contact_phone_number}}
                                    td.col
                                        {{supplier.category}}
                                    td.col
                                        span
                                            a.cursor-p(ng-click='removeSupplier(supplier.supplier_id)') &nbsp;
                                                button.btn.btn-xs
                                                    span(class='glyphicon glyphicon-trash')
                                                    =t('camps:edit.remove_supplier')

            //- END Card 5:  Manage Suppliers



        //BEGIN Continue & Save buttons
        .controls.row
            .col-xs-12
                if(isNew)
                    a.Btn.Btn__default.card-switcher#2(href='#')=t('camps:btn_continue')
                    button(type="submit", id='camp_create_save', class="Btn Btn__green")=t('camps:btn_save_camp')
                else
                    input(id='camp_edit_camp_id', type='hidden', value='#{camp.id}')
                    button.Btn.Btn__green(id='camp_edit_save')=t('camps:btn_save_camp')
        //END Continue & Save buttons


        // Create New Camp: request modal (appears after save new camp clicked)
        .modal.fade(id='create_camp_request_modal', tabindex='-1', role='dialog')
            .modal-dialog.card.card__padding--even.card__shad(role='document')
                div
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title=t('camps:new.create_camp_request')
                    .modal-body
                        p=t('camps:new.create_camp_request_text')
                        .camp_details
                            ul
                                li.camp_name_he=t('camps:new.name_he')
                                    span
                                li.camp_name_en=t('camps:new.name_en')
                                    span
                                li.camp_desc_he=t('camps:new.desc_he')
                                    span
                                li.camp_desc_en=t('camps:new.desc_en')
                                    span
                                li.contact_person_id=t('camps:new.contact_person_id')
                                    span
                                li.facebook_page_url=t('camps:new.facebook_page_url')
                                    span
                                li.accept_families=t('camps:camps.accept_families')
                                    span
                                li.contact_person_name=t('camps:new.contact_person_name')
                                    span
                                li.contact_person_email=t('camps:new.contact_person_email')
                                    span
                                li.contact_person_phone=t('camps:new.contact_person_phone')
                                    span
                                li.main_contact=t('camps:new.main_contact')
                                    span
                                li.moop_contact=t('camps:new.moop_contact')
                                    span
                                li.safety_contact=t('camps:new.safety_contact')
                                    span
                                li.type=t('camps:new.type')
                                    span
                                li.camp_status=t('camps:edit.status')
                                    span
                                li.camp_activity_time=t('camps:new.camp_activity_time')
                                    span
                                li.child_friendly=t('camps:new.camp_child_friendly')
                                    span
                                li.noise_level=t('camps:new.camp_noise_level')
                                    span
                                li.public_activity_area_sqm=t('camps:new.public_activity_area_sqm')
                                    span
                                li.public_activity_area_desc=t('camps:new.public_activity_area_desc')
                                    span
                                li.support_art=t('camps:new.support_art')
                                    span
                                li.location_comments=t('camps:new.location_comments')
                                    span
                                li.camp_location_street=t('camps:new.camp_location_street')
                                    span
                                li.camp_location_street_time=t('camps:new.camp_location_street_time')
                                    span
                                li.camp_location_area=t('camps:new.camp_location_area')
                                    span
                    .modal-footer
                        button.Btn.Btn__transparent(id='create_camp_close_btn', type='button', data-dismiss='modal')=t('camps:new.close')
                        button.Btn.Btn__green(id='camp_create_save_modal_request', type='button')=t('camps:new.send_request')

