extends ../../includes/page
block content
    .camps.camp_index
        section.jumbotron
            .container
                h1.jumbotron-heading=t('camps:dash.title')
                p.lead.text-muted=t('camps:dash.desc')
                div.block-center
                .cards--wrapper(style="visibility: visible; min-height: 268px;")
                    .join_camp.card.card-second
                        h2=t('camps:join.header_title')
                        h4=t('camps:join.camp_choosing_title')
                        .col-sm-8.col-xs-12
                            label=t('camps:new.name_en')
                            input.hidden(id='join_camp_request_join_user_id', type='hidden', value='#{user.attributes.user_id}')
                            select(type="text", class="form-control", name="camp_name_en", autofocus="true", required)
                        .col-sm-4.col-xs-12
                            a.Btn.Btn__green.Btn__inline(id="join_camp_request_join_btn", role='button')=t('camps:join.request')
