extends ../../includes/page
block content
    .camps.camp_index.heading.card.card__shad.row
        section.jumbotron.row
            .container.col-md-12
                h1.jumbotron-heading=t('camps:dash.title')
                p.lead.text-muted=t('camps:dash.desc')
        .controls.row
            .col-xs-12
                div.block-center
                    div.input-group
                        //- TODO - translate
                        a.Btn.Btn__default.card-switcher--card1(href='javascript:;', role='button') All Camps
                        a.Btn.Btn__default.card-switcher--card2(href='javascript:;', role='button') Members
                        a.Btn.Btn__default(href='javascript:;', role='button') Docs
                        a.Btn.Btn__green(href='javascript:;', role='button') NEW
            
        .cards--wrapper.card__shad.row
            //- Card 1
            .card.card-first.card-hide
                h4 ALL CAMPS
                .camp-info.panel
                    .panel-body
                        table.table.table-striped.table-hover
                            thead
                                tr.headers
                                    th #
                                    th.camp_name_en=t('camps:stats.name_en')
                                    th.contact_person=t('camps:stats.contact_person')
                                    th.status=t('camps:stats.status')
                                    th.hidden-xs=t('camps:stats.last_update')
                                    th.hidden-xs=t('camps:stats.created_at')
                                    th.published=t('camps:stats.published')
                                    th.facebook_page_url=t('camps:stats.facebook_page_url')
                                    th.admin-edit=t('camps:stats.edit')
                                    th.admin-remove=t('camps:stats.remove')
                            tbody

            //- Card 2
            .card.card-second.card-hide
                h4 MEMBERS
                .col-xs-12.card__shad
                    table.table.table-striped.table-hover
                        thead
                            tr.headers
                                th #
                                th.camp_name_en=t('camps:stats.name_en')
                                th.contact_person=t('camps:stats.contact_person')
                                th.status=t('camps:stats.status')
                                th.hidden-xs=t('camps:stats.last_update')
                                th.hidden-xs=t('camps:stats.created_at')
                                th.published=t('camps:stats.published')
                                th.facebook_page_url=t('camps:stats.facebook_page_url')
                                th.admin-edit=t('camps:stats.edit')
                                th.admin-remove=t('camps:stats.remove')
                        tbody

            //- Card 3
            .card.card-third.card-hide
                h4 Docs
                .col-xs-12.card__shad
                    table.table.table-striped.table-hover
                        thead
                            tr.headers
                                th #
                                th.camp_name_en=t('camps:stats.name_en')
                                th.contact_person=t('camps:stats.contact_person')
                                th.status=t('camps:stats.status')
                                th.hidden-xs=t('camps:stats.last_update')
                                th.hidden-xs=t('camps:stats.created_at')
                                th.published=t('camps:stats.published')
                                th.facebook_page_url=t('camps:stats.facebook_page_url')
                                th.admin-edit=t('camps:stats.edit')
                                th.admin-remove=t('camps:stats.remove')
                        tbody
            //- Card 4
            //- TODO - fix display of new camp
            .card.card-forth.card-hide
                h4 NEW
                .col-xs-12.card__shad
                    .cards--wrapper
                        .choose_name.card.card-hide
                            //- TODO - add input field