extends ../../includes/page
block content
    .camps.camp_create.row
        .heading.card.card__shad.row
            .col-md-12
                h2=t('camps:new.header_title')
                h4=t('camps:new.header_desc')
        .controls.row
            .col-xs-12
                //- Card switcher
                button.Btn.Btn__default.card-switcher--card1=t('camps:new.basic_info')
                button.Btn.Btn__transparent.card-switcher--card2=t('camps:new.details')
        .cards--wrapper.card__shad.row
            //- Card 1
            .card.card-first
                h4=t('camps:new.name_card_header')
                .camp-info.panel
                    .panel-body
                        .names.col-md-6
                            .col-xs-12
                                label(for='create_camp_name_he')=t('camps:new.name_he')
                                input(id='create_camp_name_he', type="text", class="form-control", name="camp_name_he", autofocus="true")
                            .col-xs-12
                                label(for='create_camp_name_en')=t('camps:new.name_en')
                                input(id='create_camp_name_en', type="text", class="form-control", name="camp_name_en", value="#{camp_name_en}", disabled)
                        .descriptions.col-md-6
                            .col-xs-12
                                label(for='create_camp_desc_he')=t('camps:new.desc_he')
                                input(id='create_camp_desc_he', type="text", class="form-control", name="camp_desc_he")
                            .col-xs-12
                                label(for='create_camp_desc_en')=t('camps:new.desc_en')
                                input(id='create_camp_desc_en', type="text", class="form-control", name="camp_desc_en")
                h4 Camp Contact Personnel
                .camp-leaders.panel
                    .panel-body
                        .personnel
                            .col-md-4
                                .col-xs-12
                                    label(for='create_camp_main_contact')=t('camps:new.main_contact')
                                    select(id='create_camp_main_contact', class="form-control", name="main_contact")
                            .col-md-4
                                .col-xs-12
                                    label(for='create_camp_moop_contact')=t('camps:new.moop_contact')
                                    select(id='create_camp_moop_contact', class="form-control", name="moop_contact")
                            .col-md-4
                                .col-xs-12
                                    label(for='create_camp_safety_contact')=t('camps:new.safety_contact')
                                    select(id='create_camp_safety_contact', class="form-control", name="safety_contact")
                h4 Camp Behaviour
                .camp-leaders.panel
                    .panel-body
                        .behaviour
                            .col-md-4
                                .col-xs-12
                                    label(for='create_camp_type')=t('camps:new.type')
                                    input(id='create_camp_type', type="text", class="form-control", name="type")
            //- Card 2
            .card.card-second.card-hide
                h4 Camp Behaviour
                .camp-details.panel
                    .panel-body
                        .camp-behavior
                            .col-md-4
                                .col-xs-12
                                    label(for='create_camp_activity_time')=t('camps:new.camp_activity_time')
                                    select(id='create_camp_activity_time', class="form-control", name="camp_activity_time")
                                        option(value="morning")=t('camps:new.camp_activity_time_morning')
                                        option(value="noon")=t('camps:new.camp_activity_time_noon')
                                        option(value="evening")=t('camps:new.camp_activity_time_evening')
                                        option(value="night")=t('camps:new.camp_activity_time_night')
                            .col-md-4
                                .col-xs-12
                                    label(for='create_camp_child_friendly')=t('camps:new.camp_child_friendly')
                                    input(id='create_camp_child_friendly', type="text", class="form-control", name="child_friendly")
                            .col-md-4
                                .col-xs-12
                                    label(for='create_camp_noise_level')=t('camps:new.camp_noise_level')
                                    select(id='create_camp_noise_level', class="form-control", name="noise_level")
                                        option(value="quiet")=t('camps:new.camp_noise_level_quiet')
                                        option(value="medium")=t('camps:new.camp_noise_level_medium')
                                        option(value="noisy")=t('camps:new.camp_noise_level_noisy')
                                        option(value="very noisy")=t('camps:new.camp_noise_level_very_noisy')
                h4 Camp Public Area
                .camp-details.panel
                    .panel-body
                        .camp-public
                            .col-md-4
                                .col-xs-12
                                    label(for='create_camp_public_activity_area_sqm')=t('camps:new.public_activity_area_sqm')
                                    input(id='create_camp_public_activity_area_sqm', type="number",min="1",class="form-control", name="public_activity_area_sqm")
                            .col-md-4
                                .col-xs-12
                                    label(for='create_camp_public_area_reason')=t('camps:new.public_activity_area_desc')
                                    input(id='create_camp_public_area_reason', type="text", class="form-control", name="public_activity_area_desc")
                            .col-md-4
                                .col-xs-12
                                    label(for='create_support_art')=t('camps:new.support_art')
                                    input.form-control(id='create_support_art', type="text", name='support_art')
                h4 Camp Location
                .camp-details.panel
                    .panel-body
                        .camp-location
                            .col-md-4
                                .col-xs-12
                                    label(for='create_location_comments')=t('camps:new.location_comments')
                                    input.form-control(id='create_location_comments', name='location_comments')
                            .col-md-4
                                .col-xs-12
                                    label(for='create_camp_location_street')=t('camps:new.camp_location_street')
                                    input.form-control(id='create_camp_location_street', name='camp_location_street')
                            .col-md-4
                                .col-xs-12
                                    label(for='create_camp_location_street_time')=t('camps:new.camp_location_street_time')
                                    input.form-control(id='create_camp_location_street_time', name='camp_location_street_time')
                            .col-md-4
                                .col-xs-12
                                    label(for='create_camp_location_area')=t('camps:new.camp_location_area')
                                    input.form-control(id='create_camp_location_area', name='camp_location_area')

        .controls.row
            .col-xs-12
                button(type="submit", id='camp_create_save', class="Btn Btn__default")=t('camps:btn_save_camp')

        // Camp create request modal
        .modal.fade(id='create_camp_request_modal', tabindex='-1', role='dialog')
            .modal-dialog.card.card__even-pad.card__shad(role='document')
                div
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title Create a camp request
                    .modal-body
                        p The request of creating new camp will be sent with these details
                        .camp_details
                    .modal-footer
                        button.Btn.Btn__transparent(id='create_camp_close_btn', type='button', data-dismiss='modal') Close
                        button.Btn.Btn__green(id='camp_create_save_modal_request', type='button') Send Request
