extends ../../includes/page
block content
    .container
        .row
            .jumbotron
                h1=t('new_camp.header_title')
                p=t('new_camp.header_desc')
            .col-md-12
                form( action="/camps/new", method="post", data-toggle="validator", role="form" )
                    .col-md-6
                        .form-group
                            label=t('new_camp.camp_name_he')
                            input( type="text", class="form-control", name="camp_name_he", required )
                        .form-group
                            label=t('new_camp.camp_name_en')
                            input( type="text", class="form-control", name="camp_name_en", required )
                    .col-md-6
                        .form-group
                            label=t('new_camp.camp_desc_he')
                            input( type="text", class="form-control", name="camp_desc_he" )
                        .form-group
                            label=t('new_camp.camp_desc_en')
                            input( type="text", class="form-control", name="camp_desc_en" )
                    .text-center
                        button( type="submit", class="btn btn-info" )=t('new_camp.btn_create')
