extends ../../includes/page
block content
    .camps.stats
        section
            .heading.card.row
                h2=t('camps:stats.title')
                .form-group
                    input.form-control(type="text", placeholder="#{t('camps:stats.search')}", autofocus)
            table.table.table-striped
                thead
                    tr
                        th #
                        th=t('camps:stats.name_en')
                        th=t('camps:stats.name_he')
                        th.hidden-xs=t('camps:stats.last_update')
                        th.hidden-xs=t('camps:stats.created_at')
                        th.admin-edit=t('camps:stats.edit')
                        th.admin-remove=t('camps:stats.remove')
                tbody
