extends ../../includes/page
block content
    input.hidden.meta(id='meta__lang', value='#{language}')
    input.hidden.meta(id='meta__event_name_en', value='#{event.event_name_en}')
    input.hidden.meta(id='meta__event_id', value='#{event.id}')
    //- input.hidden.meta(id='meta__grouptype', value='#{camp.__prototype}')
    .camps.camp_edit(ng-app="ngCamps", ng-controller="campEditController")
        script.
            var test1 = checked;
            var test2 = "";
            var groups_prototype="#{__groups_prototype}";
        .heading.card.card__shad
            .card__actions
                if(isCamp)
                    .dropdown
                        a.Btn.btn-default(href='/#{language}/camps/#{event.id}')=t('camps:edit.view')
            if(isNew)
                h2=t('events:new.header_title')
                h4=t('events:new.header_desc')
            else
                if(event_name = language.includes('he') ? event.event_name_he : event.event_name_en )
                span.label.label-info #{t(t_prefix+'edit.camp')} # #{event.id}
                h2 #{t('event:edit.title')}: #{event_name}
                h6 #{t('event:edit.since')}: #{event.created_at}
        .controls.row
            .col-xs-12
                //- Card switcher
                button.Btn.Btn__default.card-switcher#1=t('camps:edit.basic_info')
                if(isCamp)
                    button.Btn.Btn__transparent.card-switcher#2=t('camps:edit.details')
                //- TODO - test is user is camp manager of this camp
                if(!isNew)
                    button.Btn.Btn__transparent.card-switcher#3=t('camps:edit.members')
                    if(isCamp)
                        button.Btn.Btn__transparent.card-switcher#4=t('camps:edit.upload')
        .cards--wrapper.card__shad
            //- Card 1
            .card.card-first
                h4=t(t_prefix+'edit.name_and_desc')
                .camp-info.panel
                    .panel-body
                        .details-he.col-md-6
                            .col-xs-12
                                label(for='event_name_he')=t('events:edit.name_he')
                                input.form-control(id='event_name_he', dir='rtl', name='event_name_he', value=(isNew ? '' : '#{event.event_name_he}'))
                            .col-xs-12
                                label(for='event_desc_he')=t('events:edit.desc_he')
                                input.form-control(id='event_desc_he', dir='rtl', name='event_desc_he', value=(isNew ? '' : '#{event.event_desc_he}'))
                            .col-xs-12
                                label(for='event_id')=t('events:edit.id')
                                input.form-control(id='event_id', dir='ltr', name='event_id', value=(isNew ? '' : '#{event.id}'))
                            .col-xs-12
                                label(for='start_date')=t('events:edit.start_date')
                                input.form-control(id='start_date', dir='ltr', name='start_date', value=(isNew ? '' : '#{event.startDate}'))
                            .col-xs-12
                                label(for='start_presale_tickets')=t('events:edit.start_presale_tickets')
                                input.form-control(id='start_presale_tickets', dir='ltr', name='start_presale_tickets', value=(isNew ? '' : '#{event.startPresaleTickets}'))
                            .col-xs-12
                                label(for='tickets_info')=t('events:edit.tickets_info')
                                input.form-control(id='tickets_info', dir='ltr', name='tickets_info', value=(isNew ? '' : '#{event.ticketsInfo}'))
                            .col-xs-12
                                label(for='community_camps')=t('events:edit.community_camps')
                                input.form-control(type="checkbox" id='community_camps', dir='ltr', name='community_camps', value='true', checked=(isNew ? undefined : event.communityCamps ? "checked" : undefined) )
                                label(for='community_art_installation')=t('events:edit.community_art_installation')
                                input.form-control(type="checkbox" id='community_art_installation', dir='ltr', name='community_art_installation', value='true'  checked=(isNew ? undefined : event.communityArtInstallation ? "checked" : undefined) )
                                label(for='community_prod_dep')=t('events:edit.community_prod_dep')
                                input.form-control(type="checkbox" id='community_prod_dep', dir='ltr', name='community_prod_dep', value='true' checked=(isNew ? undefined :event.communityProdDep ? "checked" : undefined))

                        .details-en.col-md-6
                            .col-xs-12
                                label(for='event_name_en')=t('events:edit.name_en')
                                input.form-control(id='event_name_en', dir='ltr', name='event_name_en', value=(isNew ? '' : '#{event.event_name_en}'))
                            .col-xs-12
                                label(for='event_desc_en')=t('events:edit.desc_en')
                                input.form-control(id='event_desc_en', dir='ltr', name='event_desc_en', value=(isNew ? '' : '#{event.event_desc_en}') )
                            .col-xs-12
                                label(for='previous_event_id')=t('events:edit.previous_event_id')
                                input.form-control(id='previous_event_id', dir='ltr', name='event_id', value=(isNew ? '' : '#{event.previousEventId}') )       
                            .col-xs-12
                                label(for='end_date')=t('events:edit.end_date')
                                input.form-control(id='end_date', dir='ltr', name='end_date', value=(isNew ? '' : '#{event.endDate}'))
                            .col-xs-12
                                label(for='end_presale_tickets')=t('events:edit.end_presale_tickets')
                                input.form-control(id='end_presale_tickets', dir='ltr', name='end_presale_tickets', value=(isNew ? '' : '#{event.endPresaleTickets}'))
                            .col-xs-12
                                label(for='url')=t('events:edit.url')
                                input.form-control(id='url', dir='ltr', name='url', value=(isNew ? '' : '#{event.url}'))
                            
                if(isCamp)
                    h4=t('camps:new.website_publication')
                    .camp-publication.panel
                        .panel-body
                            .information
                                .row
                                    //- .col-md-4
                                    //-     .col-xs-12
                                    //-         //- TODO - fix for if(isNew)
                                    //-         label(for='camp_contact_person_id', data-camp-contact-person-id='#{camp.contact_person_id}') #{t('camps:new.contact_person_id')}
                                    //-         select.form-control(id='camp_contact_person_id', name='contact_person_id')
                                    //-             option(ng-repeat="member in members", ng-selected="member.user_id == #{camp.contact_person_id}", value="{{member.user_id}}") {{ member.name }} ({{ member.email }})
                                    .col-md-8
                                        .col-xs-12
                                            label(for='camp_facebook_page_url')=t('camps:new.facebook_page_url')
                                            input.form-control(id='camp_facebook_page_url', name='facebook_page_url', value=(isNew ? '' : '#{camp.facebook_page_url}'))

                                .row
                                    .col-md-4
                                        .col-xs-12
                                            label(for='camp_contact_person_name')=t('camps:edit.contact_person_name')
                                            input.form-control(id='camp_contact_person_name', name='contact_person_name', value=(isNew ? '' : '#{camp.contact_person_name}'))
                                    .col-md-4
                                        .col-xs-12
                                            label(for='camp_contact_person_email')=t('camps:edit.contact_person_email')
                                            input.form-control(id='camp_contact_person_email', name='contact_person_email', value=(isNew ? '' : '#{camp.contact_person_email}'))
                                    .col-md-4
                                        .col-xs-12
                                            label(for='camp_contact_person_phone')=t('camps:edit.contact_person_phone')
                                            input.form-control(id='camp_contact_person_phone', name='contact_person_phone', value=(isNew ? '' : '#{camp.contact_person_phone}'))
                                .row
                                    .col-md-4
                                        .col-xs-12
                                            label(for='camp_status', data-camp-status='#{camp.status}') #{t('camps:edit.status')}
                                            select.form-control(id='camp_status', name='status')
                                                option(ng-repeat="option in status_options", ng-selected="option.id == '#{camp.status}'", value="{{option.id}}") {{option.value}}
                                    .col-md-4
                                        .col-xs-12
                                            label(for='camp_accept_families')=t('camps:camps.accept_families')
                                            input.checkbox(id='camp_accept_families', checked='#{camp.accept_families}', type='checkbox', name='accept_families')
                                            script.
                                                // set checkbox status
                                                var checkbox = document.getElementById("camp_accept_families");
                                                checkbox.checked = checkbox.attributes.checked.value == "1" ? true:false
                                    if(!isNew)
                                        .col-md-4
                                            .col-xs-12
                                                label(for='edit_camp_web_published') #{t('camps:edit.publication')}:
                                                if camp.web_published == '1'
                                                    span.badge.bg__green=t('camps:camps.yes')
                                                    button.Btn.Btn__sm.bg__teal(id='camp_edit_unpublish')=t('camps:edit.unpublish')
                                                else
                                                    span.badge.bg__red=t('camps:camps.no')
                h4=t('camps:edit.contact_title')
                .camp-leaders.panel
                    .panel-body
                        .personnel
                            .col-md-4
                                .col-xs-12
                                    label(for='camp_main_contact')=t('camps:edit.main_contact')
                                    select.form-control.form__input--important(id='camp_main_contact', name='main_contact')
                                        option(ng-repeat="member in approved_members", ng-selected="member.user_id == #{event.main_contact}", value="{{member.user_id}}") {{ member.name}} ({{ member.email }})
                            if (isCamp)
                                .col-md-4
                                    .col-xs-12
                                        label(for='camp_moop_contact')=t('camps:edit.moop_contact')
                                        select.form-control(id='camp_moop_contact', name='moop_contact')
                                            option(ng-repeat="member in approved_members", ng-selected="member.user_id == #{event.moop_contact}", value="{{member.user_id}}") {{ member.name}} ({{ member.email }})
                                .col-md-4
                                    .col-xs-12
                                        label(for='camp_safety_contact')=t('camps:edit.safety_contact')
                                        select.form-control(id='camp_safety_contact', name='safety_contact')
                                            option(ng-repeat="member in approved_members", ng-selected="member.user_id == #{event.safety_contact}", value="{{member.user_id}}") {{ member.name}} ({{ member.email }})
                if (!isNew)
                    h4=t(t_prefix+'edit.add_info')
                    .camp-details.panel
                        .panel-body
                            .camp-location
                                if(isCamp)
                                    h5=t('camps:edit.location_title')

                                    //------- Lilach requested to hide input -------------//
                                    //- .col-md-4
                                    //-     .col-xs-12
                                    //-         label(for='location_comments')=t('camps:edit.location_comments')
                                    //-         input.form-control(id='location_comments', name='location_comments', value=(isNew ? '' : '#{details.location_comments}'))
                                    .col-md-4
                                        .col-xs-12
                                            label(for='camp_location_street')=t('camps:edit.location_street')
                                            input.form-control(id='camp_location_street', name='camp_location_street', value=(isNew ? '' : (details.camp_location_street===null?'':'#{details.camp_location_street}')),readonly=(!isAdmin?'true':undefined))
                                    .col-md-4
                                        .col-xs-12
                                            label(for='camp_location_street_time')=t('camps:edit.location_time')
                                            input.form-control(id='camp_location_street_time', name='public_camp_location_street_time', value=(isNew ? '' : (details.camp_location_street_time===null?'':'#{details.camp_location_street_time}')),readonly=(!user.isAdmin?'true':undefined))
                                    .col-md-4
                                        .col-xs-12
                                            label(for='camp_location_area')=t('camps:edit.location_area')
                                            input.form-control(id='camp_location_area', name='public_camp_location_area', value=(isNew ? '' : (details.camp_location_area === null ? '' : '#{details.camp_location_area}')),readonly=(!isAdmin ? 'true' : undefined))
                                    //- .col-md-4
                                    //-     .col-xs-12
                                    //-         label(for='camp_location_area')=t('camps:edit.location_area')
                                    //-         input.form-control(id='camp_location_area', type='number', name='public_camp_location_area', value=(isNew ? '' : '#{details.camp_location_area}'))
                                .col-md-4
                                    .col-xs-12
                                        label(for='entrance_quota')=t('camps:edit.early_arrival_quota')
                                        input.form-control(id='entrance_quota', name='entrance_quota', value=(isNew ? 0 : (event.entrance_quota === null ? '' : '#{event.entrance_quota}')),readonly=(!isAdmin ? 'true' : undefined))

            //- Card 2
            .card.card-second.card-hide
                h4=t('camps:edit.behavior_title')
                .camp-details.panel
                    .panel-body
                        .camp-behavior
                            .col-md-4
                                .col-xs-12
                                    label(for='camp_activity_time', data-camp-status='#{event.status}') #{t('camps:edit.camp_activity_time')}
                                        .checkbox
                                            input(type="checkbox", class='camp_activity_time', id="activity_time_morning", name="activity_time_morning", value="morning", checked=event.camp_activity_time ? (event.camp_activity_time.indexOf('morning') > -1 ? "checked" : undefined) : undefined)
                                            label(for="activity_time_morning")
                                                | #{t('camps:new.camp_activity_time_morning')}
                                        .checkbox
                                            input(type="checkbox", class='camp_activity_time', id="activity_time_noon", name="activity_time_noon", value="noon", checked=event.camp_activity_time ? (event.camp_activity_time.indexOf('drinks') > -1 ? "noon" : undefined) : undefined)
                                            label(for="activity_time_noon")
                                                | #{t('camps:new.camp_activity_time_noon')}
                                        .checkbox
                                            input(type="checkbox", class='camp_activity_time', id="camp_activity_time_evening", name="camp_activity_time_evening", value="evening", checked=event.camp_activity_time ? (event.camp_activity_time.indexOf('evening') > -1 ? "checked" : undefined) : undefined)
                                            label(for="camp_activity_time_evening")
                                                | #{t('camps:new.camp_activity_time_evening')}
                                        .checkbox
                                            input(type="checkbox", class='camp_activity_time', id="camp_activity_time_night", name="camp_activity_time_night", value="night", checked=event.camp_activity_time ? (event.camp_activity_time.indexOf('night') > -1 ? "checked" : undefined) : undefined)
                                            label(for="camp_activity_time_night")
                                                | #{t('camps:new.camp_activity_time_night')}
                            .col-md-4
                                .col-xs-12
                                    label(for='camp_type', data-camp-type='#{event.type}') #{t('camps:edit.type')}
                                        .checkbox
                                            input(type="checkbox", class='camp_type', id="type_music", name="type_music", value="music", checked=event.type ? (event.type.indexOf('music') > -1 ? "checked" : undefined) : undefined)
                                            label(for="type_music")
                                                | #{t('camps:edit.music')}
                                        .checkbox
                                            input(type="checkbox", class='camp_type', id="type_drinks", name="type_drinks", value="drinks", checked=event.type ? (event.type.indexOf('drinks') > -1 ? "checked" : undefined) : undefined)
                                            label(for="type_drinks")
                                                | #{t('camps:edit.drinks')}
                                        .checkbox
                                            input(type="checkbox", class='camp_type', id="type_workshop", name="type_workshop", value="workshop", checked=event.type ? (event.type.indexOf('workshop') > -1 ? "checked" : undefined) : undefined)
                                            label(for="type_workshop")
                                                | #{t('camps:edit.workshop')}
                                        .checkbox
                                            input(type="checkbox", class='camp_type', id="type_art", name="type_art", value="art", checked=event.type ? (event.type.indexOf('art') > -1 ? "checked" : undefined) : undefined)
                                            label(for="type_art")
                                                | #{t('camps:edit.art')}
                                        .checkbox
                                            input(type="checkbox", class='camp_type', id="type_lecture", name="type_lecture", value="lecture", checked=event.type ? (event.type.indexOf('lecture') > -1 ? "checked" : undefined) : undefined)
                                            label(for="type_lecture")
                                                | #{t('camps:edit.lecture')}
                                        .checkbox
                                            input(type="checkbox", class='camp_type', id="type_food", name="type_food", value="food", checked=event.type ? (event.type.indexOf('food') > -1 ? "checked" : undefined) : undefined)
                                            label(for="type_food")
                                                | #{t('camps:edit.food')}
                                        .checkbox
                                            input(type="checkbox", class='camp_type', id="camp_type_other_checkbox", name="type_other", value="other", checked=event.type ? (event.type.indexOf('other') > -1 ? "checked" : undefined) : undefined)
                                            label(for="camp_type_other_checkbox")
                                                | #{t('camps:edit.other')}
                                            input(id='camp_type_other_text', type="text", class="form-control checkbox-other hidden", name="type_other_text", value=(event.type.slice(event.type.indexOf('other') + 6)))
                            .col-md-4
                                .col-xs-12
                                    label(for='camp_child_friendly') #{t('camps:edit.camp_child_friendly')}
                                    input.checkbox(id='camp_child_friendly', checked='#{event.child_friendly}', type="checkbox", name='child_friendly')
                                    script.
                                        // set checkbox status
                                        var checkbox = document.getElementById("camp_child_friendly");
                                        checkbox.checked = checkbox.attributes.checked.value == "1" ? true:false
                            .col-md-4
                                .col-xs-12
                                    //- script.
                                    //-     var noise_level = {
                                    //-       "quiet": "#{t('camps:new.camp_noise_level_quiet')}",
                                    //-       "medium": "#{t('camps:new.camp_noise_level_medium')}",
                                    //-       "noisy": "#{t('camps:new.camp_noise_level_noisy')}",
                                    //-       "very noisy": "#{t('camps:new.camp_noise_level_very_noisy')}"
                                    //-     }
                                    label(for='noise_level') #{t('camps:edit.camp_noise_level')}
                                    select(id='camp_noise_level', class="form-control", name="noise_level")
                                        option(ng-repeat="option in noise_level_options", ng-selected="option.id == '#{event.noise_level}'", value="{{option.id}}") {{option.value}}
                //------- Lilach requested to hide section -------------//
                //- h4=t('camps:edit.public_area_title')
                //- .camp-details.panel
                //-     .panel-body
                //-         .camp-public
                //-             .col-md-4
                //-                 .col-xs-12
                //-                     label(for='public_activity_area_sqm')=t('camps:edit.public_activity_area_sqm')
                //-                     input.form-control(id='public_activity_area_sqm', name='public_activity_area_sqm', value=(isNew ? '' : '#{details.public_activity_area_sqm}'))
                //-             .col-md-4
                //-                 .col-xs-12
                //-                     label(for='public_activity_area_desc')=t('camps:edit.public_activity_area_desc')
                //-                     input.form-control(id='public_activity_area_desc', name='public_activity_area_desc', value=(isNew ? '' : '#{details.public_activity_area_desc}'))
                //-             .col-md-4
                //-                 .col-xs-12
                //-                     label(for='support_art')=t('camps:edit.support_art')
                //-                     input.checkbox(id='support_art', checked='#{details.support_art}', type="checkbox", name='public_support_art', value='#{details.support_art}')
                //-                     script.
                //-                         // set checkbox status
                //-                         var checkbox = document.getElementById("support_art");
                //-                         checkbox.checked = checkbox.attributes.checked.value == "1" ? true:false
            //- Card 3 - Manage Members
            .card.card-third.card__shad.card__padding--even.card-hide.col-xs-12.table-responsive
                .form-inline
                    input.form-control(ng-model='camps_members_add_member', type="text", placeholder=(language == 'en' ? 'Add new member' : 'הוסף חבר חדש'))
                    button.Btn.Btn__sm(ng-click="addMember()") + #{t('camps:members.add_member')}
                .form-group
                    input.form-control(id='camps_members_search_member', ng-model="searchMembers", type="text", placeholder="#{t('camps:edit.search_member')}", name="camps_members_search_member" autofocus)
                .row
                    .col-xs-12
                    //- include partials/members_table
            //- Card 4
            .card.card-forth.card-hide
                h4=t('camps:edit.upload_header')
                .camp-members.panel
                    .panel-body
                        .names.col-md-6
                            .col-xs-12
                                label(for='edit_camp_upload_security_file')=t('camps:edit.security_file')
                                input.form-control(type="file" id='edit_camp_upload_security_file', name='security_file')

        .controls.row
            .col-xs-12
                if(isNew)
                    a.Btn.Btn__default.card-switcher#2(href='#')=t('camps:btn_continue')
                    button(type="submit", id='camp_create_save', class="Btn Btn__green")=t('camps:btn_save_camp')
                else
                    input(id='camp_edit_camp_id', type='hidden', value='#{event.id}')
                    button.Btn.Btn__default(id='camp_edit_save')=t('camps:btn_save_camp')
                
                    if isCamp && event.web_published != '1'
                        button.Btn.Btn__green(id='camp_edit_publish')=t('camps:edit.publish')

        // Camp create request modal
        .modal.fade(id='create_camp_request_modal', tabindex='-1', role='dialog')
            .modal-dialog.card.card__padding--even.card__shad(role='document')
                div
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title=t('camps:new.create_camp_request')
                    .modal-body
                        p=t('camps:new.create_camp_request_text')
                        .camp_details
                            ul
                                li.camp_name_he=t('camps:new.name_he')
                                    span
                                li.camp_name_en=t('camps:new.name_en')
                                    span
                                li.camp_desc_he=t('camps:new.desc_he')
                                    span
                                li.camp_desc_en=t('camps:new.desc_en')
                                    span
                                li.contact_person_id=t('camps:new.contact_person_id')
                                    span
                                li.facebook_page_url=t('camps:new.facebook_page_url')
                                    span
                                li.accept_families=t('camps:camps.accept_families')
                                    span
                                li.contact_person_name=t('camps:new.contact_person_name')
                                    span
                                li.contact_person_email=t('camps:new.contact_person_email')
                                    span
                                li.contact_person_phone=t('camps:new.contact_person_phone')
                                    span
                                li.main_contact=t('camps:new.main_contact')
                                    span
                                li.moop_contact=t('camps:new.moop_contact')
                                    span
                                li.safety_contact=t('camps:new.safety_contact')
                                    span
                                li.type=t('camps:new.type')
                                    span
                                li.camp_status=t('camps:edit.status')
                                    span
                                li.camp_activity_time=t('camps:new.camp_activity_time')
                                    span
                                li.child_friendly=t('camps:new.camp_child_friendly')
                                    span
                                li.noise_level=t('camps:new.camp_noise_level')
                                    span
                                li.public_activity_area_sqm=t('camps:new.public_activity_area_sqm')
                                    span
                                li.public_activity_area_desc=t('camps:new.public_activity_area_desc')
                                    span
                                li.support_art=t('camps:new.support_art')
                                    span
                                li.location_comments=t('camps:new.location_comments')
                                    span
                                li.camp_location_street=t('camps:new.camp_location_street')
                                    span
                                li.camp_location_street_time=t('camps:new.camp_location_street_time')
                                    span
                                li.camp_location_area=t('camps:new.camp_location_area')
                                    span
                    .modal-footer
                        button.Btn.Btn__transparent(id='create_camp_close_btn', type='button', data-dismiss='modal')=t('camps:new.close')
                        button.Btn.Btn__green(id='camp_create_save_modal_request', type='button')=t('camps:new.send_request')
