extends ../../includes/page
block content
    .camps.camp_admin_index(ng-app="ngEvents")
        // script.
        // var groups_prototype="#{__groups_prototype}";
        .container.col-md-12
            h1=t(t_prefix+'dash.title')
            p.lead.text-muted=t(t_prefix+'dash.desc')
        .controls.row
            .col-xs-12
                div.block-center
                    div.input-group
                        a.Btn.Btn__default.card-switcher#1(href=`/${language}/events-admin/manage`, role='button')=t(t_prefix+'manage')
                        a.Btn.Btn__green.card-switcher#2(href=`/${language}/events-admin/new`, role='button')
                                span.glyphicon.glyphicon-plus(aria-hidden="true")
                                span=t(t_prefix+'new_event')
            
        .cards--wrapper.card__shad
            //- Card 1    
            .card.card-first.card__padding--even.col-xs-12.table-responsive(ng-controller="eventsController")
                h4=t(t_prefix+'admin.all_events_table')
                .controls.row
                  .col-xs-12.col-md-9
                        input.form-control(id='camps_list_search_camp', ng-model="searchEvent", type="text", placeholder="#{t(t_prefix+'stats.search')}")
                table.table.table-stats.table-striped.table-hover#admin_camps
                    thead
                        tr.headers
                            th(ng-click='changeOrderBy("id")') #
                            th.event_name_en(ng-click='changeOrderBy("name")')=t(t_prefix+'stats.name_en')
                            
                            th.gate_code(ng-click='changeOrderBy("gate_code")')=t(t_prefix+'stats.gate_code')
                            //- th.hidden-xs(ng-click='changeOrderBy("created_at")')=t(t_prefix+'stats.created_at')
                            th.gate_status(ng-click='changeOrderBy("gate_status")')=t(t_prefix+'stats.gate_status')
                    tbody
                        tr(ng-repeat="event in events | filter: searchEvent | orderBy: orderEvents")
                            td {{ event.event_id }}
                            // td 
                            //    a(ng-href=`/${language}/events-admin/{{event.event_id}}`) 
                            //        {{ event.event_name_en }}
                            //    br 
                            //    a(ng-href=`/${language}/events-admin/{{event.event_id}}`) 
                            //        {{ event.event_name_he }}
                            td {{ event.name }}
                            td {{ event.gate_code }}
                            td {{ event.gate_status }}
                            td
                                a.cursor-p(ng-href=`/${language}/events-admin/{{event.event_id}}`)&nbsp;
                                    button.btn.btn-xs 
                                        span(class='glyphicon glyphicon-pencil')
                                        =t('events:stats.edit')
                                a.cursor-p(ng-click='removeEvent(event.event_id)')&nbsp;
                                    button.btn.btn-xs 
                                        span(class='glyphicon glyphicon-trash')
                                        =t('events:stats.remove')
                            //- td
    
            //- Card 2
            .card.card-second.card__padding--even.card-hide.col-xs-12.table-responsive(ng-controller="membersController")
                h4=t(t_prefix+'admin_index.all_members_table')
                
    //            
    //        //- Card 3
    //        .card.card-third.card__padding--even.card-hide.col-xs-12.table-responsive
    //            h4=t(t_prefix+'admin_index.docs_table')
    //                
    //        //- Card 4
    //        .choose_name.card.card-forth.card__padding--even.card-hide.col-xs-12
    //            h2=t(t_prefix+'new.header_title')
    //            h4=t(t_prefix+'new.name_choosing_title')
    //            .col-sm-8.col-xs-12
    //                .pos-r
    //                    label=t(t_prefix+'new.name_en')
    //                    input(type="text", class="form-control", name="camp_name_en", autofocus="true", required)
    //                    span.indicator
    //                        span.glyphicon
    //            .col-sm-4.col-xs-12
    //                a.Btn.Btn__green.Btn__inline.btn.disabled(id="check_camp_name", role='button')=t(t_prefix+'btn_continue')
//