extends ../../includes/page
block content
    script.
        newEvent="true";
    .camps.camp_admin_index(ng-app="ngEvents")
        .container.col-md-12
            h1=t(t_prefix+'dash.title')
            p.lead.text-muted=t(t_prefix+'dash.desc')
        .controls.row
            .col-xs-12
                div.block-center
                    div.input-group
                        a.Btn.Btn__default.card-switcher#1(href=`/${language}/events-admin/manage`, role='button')=t(t_prefix+'manage')
                        a.Btn.Btn__green.card-switcher#2(href=`/${language}/events-admin/new`, role='button')
                                span.glyphicon.glyphicon-plus(aria-hidden="true")
                                span=t(t_prefix+'new_event')
            
        .cards--wrapper.card__shad
            //- Card 1    
            .card.card-first.card__padding--even.col-xs-12.table-responsive(ng-controller="eventsController")
                h4=t(t_prefix+'admin.all_events_table')                
                table.table.table-stats.table-striped.table-hover#admin_camps
                    thead
                        tr.headers
                            th #
                            th.event_name_en=t(t_prefix+'stats.name_en')                            
                            th.gate_code=t(t_prefix+'stats.gate_code')
                            th.gate_status=t(t_prefix+'stats.gate_status')
                            th
                    tbody
                        tr(ng-repeat="event in events | orderBy: event_id")
                            td {{ event.event_id }}                        
                            td {{ event.name }}
                            td {{ event.gate_code }}
                            td {{ event.gate_status }}
                            td
                                a.cursor-p(ng-href=`/${language}/events-admin/{{event.event_id}}`)&nbsp;
                                    button.btn.btn-xs 
                                        span(class='glyphicon glyphicon-pencil')
                                        =t('events:stats.edit')
    
            //- Card 2
            .card.card-second.card__padding--even.card-hide.col-xs-12.table-responsive(ng-controller="eventsFormController")
                h4=t('events:edit.name_and_discription')
                    .event-info.panel
                        .panel-body
                            .details-he.col-md-6
                                .col-xs-12
                                    label(for='event_id')=t('events:edit.id')
                                    input.form-control(id='event_id' dir='ltr' ng-model='event.event_id')                                    
                                    label(for='gate_code')=t('events:edit.gate_code')
                                    input.form-control(type="number" id='gate_code', dir='ltr' ng-model='event.gate_code')
                                    label(for='event_name_he')=t('events:edit.name_he')
                                    input.form-control(id='event_name_he' dir='rtl' ng-model='event.addinfo_json.name_he')
                                    label(for='event_desc_he')=t('events:edit.desc_he')
                                    input.form-control(id='event_desc_he' dir='rtl' ng-model='event.addinfo_json.desc_he')
                                    label(for='start_date')=t('events:edit.start_date')
                                    input.form-control(type='date' id='start_date' dir='ltr' ng-model='event.addinfo_json.start_date')
                                    label(for='start_presale_tickets')=t('events:edit.start_presale_tickets')
                                    input.form-control(type='date' id='start_presale_tickets', dir='ltr' ng-model='event.addinfo_json.start_presale_tickets')
                                    label(for='tickets_info')=t('events:edit.tickets_info')
                                    textarea.form-control(id='tickets_info' dir='ltr' ng-model='event.addinfo_json.tickets_info')
                                    //- Checkboxes
                                    .col-xs-2
                                        div.row
                                            input(type="checkbox" id='community_camps', dir='ltr', name='community_camps' ng-model='event.addinfo_json.community_camps')
                                        div.row
                                            input(type="checkbox" id='community_art_installation', dir='ltr', name='community_art_installation' ng-model='event.addinfo_json.community_art_installation')
                                        div.row
                                            input(type="checkbox" id='community_prod_dep', dir='ltr', name='community_prod_dep' ng-model='event.addinfo_json.community_prod_dep')
                                    .col-xs-10
                                        div.row
                                            label(for='community_camps')=t('events:edit.community_camps')                                    
                                        div.row
                                            label(for='community_art_installation')=t('events:edit.community_art_installation')                                    
                                        div.row
                                            label(for='community_prod_dep')=t('events:edit.community_prod_dep')

                            .details-en.col-md-6
                                .col-xs-12
                                    label(style="color:red" for='previous_event_id')=t('events:edit.previous_event_id')
                                    input.form-control(id='previous_event_id', dir='ltr', name='event_id', ng-model='event.ext_id_event_id' required type="number")
                                    label(for='event_id')=t('events:edit.event_type')
                                    input.form-control(id='event_id', dir='ltr', name='event_id' ng-model='event.addinfo_json.event_type')
                                    label(for='event_name_en')=t('events:edit.name_en')
                                    input.form-control(id='event_name_en', dir='ltr', name='event_name_en' ng-model='event.addinfo_json.name_en')
                                    label(for='event_desc_en')=t('events:edit.desc_en')
                                    input.form-control(id='event_desc_en', dir='ltr', name='event_desc_en' ng-model='event.addinfo_json.desc_en')
                                    label(for='end_date')=t('events:edit.end_date')
                                    input.form-control(type='date' id='end_date', dir='ltr', name='end_date' ng-model='event.addinfo_json.end_date')
                                    label(for='end_presale_tickets')=t('events:edit.end_presale_tickets')
                                    input.form-control(type='date' id='end_presale_tickets', dir='ltr', name='end_presale_tickets' ng-model='event.addinfo_json.end_presale_tickets')
                                    label(for='url')=t('events:edit.url')
                                    input.form-control(id='url', dir='ltr', name='url' ng-model='event.addinfo_json.url')
                                
                        .modal-footer
                            a(href='./')
                                button.Btn.Btn__transparent(id='create_camp_close_btn')=t('events:new.close')
                            button.Btn.Btn__green(id='event_create_save_modal_request', ng-click="sendEvent()")=t('events:new.send_request')           