extends ../../includes/page
block content
    .camps.camp_admin_index(ng-app="ngSuppliers", ng-controller="supplierEntriesController")
        .container.col-md-12()
            h1=t(t_prefix+'entries.suppliers')
            p.lead.text-muted=t(t_prefix+'entries.desc')
        .controls.row
            .col-xs-12
                div.block-center
                    div.input-group
                        if(user.isAdmin || user.isGateManager)
                            a.Btn.Btn__green.card-switcher#4(role='button')
                                span.glyphicon.glyphicon-plus(aria-hidden="true")
                                span=t(t_prefix+'entries.supplier_entrance')
                            // TODO - if they what to keep
                            //a.Btn.Btn__green(href=`/${language}/suppliers-admin/new`, role='button')
                            //    span.glyphicon.glyphicon-plus(aria-hidden="true")
                            //    span=t(t_prefix + 'edit_new.new_supplier')

        .cards--wrapper.card__shad
            .card.card-first.card__padding--even.col-xs-12.table-responsive
                datalist(id="supplierList")
                    option(ng-repeat="supplier in suppliers", label="{{supplier.main_contact_name}}", value="{{supplier.supplier_id}}")
                //- Card 1
                h4=t(t_prefix+'edit_new.suppliers')
                .controls.row
                  .col-xs-6.col-md-6
                        input.form-control(id='camps_list_search_camp', ng-model="searchSupplierEntry", type="text", placeholder="#{t(t_prefix+'entries.search')}")
                  .col-xs-6.col-md-6
                        label(for='status')=t(t_prefix+'entries.status')
                        select.form-control(id='status', class="select-status", name='status', ng-model="entryStatus")
                            option(value="")=t(t_prefix+'entries.all_entries')
                            option(value="Inside")=t(t_prefix+'entries.inside')
                            option(value="Outside")=t(t_prefix+'entries.outside')
                table.table.table-stats.table-striped.table-hover#admin_camps
                    thead
                        tr.headers
                            th(ng-click='changeOrderBy("supplier_id")', class="clickable")=t(t_prefix+'entries.id')
                                span(ng-hide="'supplier_id' !== orderEntries", ng-class="{'glyphicon': true, 'glyphicon-chevron-up': !isReverseOrder, 'glyphicon-chevron-down': isReverseOrder}")
                            th.camp_name_en(ng-click='changeOrderBy("main_contact_name")', class="clickable")=t(t_prefix+'entries.name')
                                span(ng-hide="'main_contact_name' !== orderEntries", ng-class="{'glyphicon': true, 'glyphicon-chevron-up': !isReverseOrder, 'glyphicon-chevron-down': isReverseOrder}")
                            th.contact_person(ng-click='changeOrderBy("vehicle_plate_number")', class="clickable")=t(t_prefix+'entries.vehicle_plate_number')
                                span(ng-hide="'vehicle_plate_number' !== orderEntries", ng-class="{'glyphicon': true, 'glyphicon-chevron-up': !isReverseOrder, 'glyphicon-chevron-down': isReverseOrder}")
                            th.status(ng-click='changeOrderBy("number_of_people_entered")', class="clickable")=t(t_prefix+'entries.num_people_in_vehicle')
                                span(ng-hide="'number_of_people_entered' !== orderEntries", ng-class="{'glyphicon': true, 'glyphicon-chevron-up': !isReverseOrder, 'glyphicon-chevron-down': isReverseOrder}")
                            th.number(ng-click='changeOrderBy("main_contact_phone_number")', class="clickable")=t(t_prefix+'entries.contact_number')
                                span(ng-hide="'main_contact_phone_number' !== orderEntries", ng-class="{'glyphicon': true, 'glyphicon-chevron-up': !isReverseOrder, 'glyphicon-chevron-down': isReverseOrder}")
                            th.hidden-xs(ng-click='changeOrderBy("allowed_visa_hours")', class="clickable")=t(t_prefix+'entries.visa_duration')
                                span(ng-hide="'allowed_visa_hours' !== orderEntries", ng-class="{'glyphicon': true, 'glyphicon-chevron-up': !isReverseOrder, 'glyphicon-chevron-down': isReverseOrder}")
                            th.entrance_quota(ng-click='changeOrderBy("supplier_status")', class="clickable")=t(t_prefix + 'entries.status')
                            span(ng-hide="'supplier_status' !== orderEntries", ng-class="{'glyphicon': true, 'glyphicon-chevron-up': !isReverseOrder, 'glyphicon-chevron-down': isReverseOrder}")
                            th.published(ng-click='changeOrderBy("enterance_time")', class="clickable")=t(t_prefix+'entries.entrance_time')
                                span(ng-hide="'enterance_time' !== orderEntries", ng-class="{'glyphicon': true, 'glyphicon-chevron-up': !isReverseOrder, 'glyphicon-chevron-down': isReverseOrder}")
                            th.midmarket(ng-click='changeOrderBy("departure_time")', class="clickable")=t(t_prefix+'entries.departure_time')
                                span(ng-hide="'departure_time' !== orderEntries", ng-class="{'glyphicon': true, 'glyphicon-chevron-up': !isReverseOrder, 'glyphicon-chevron-down': isReverseOrder}")
                            th.entrance_quota(class="clickable")=t(t_prefix+'entries.actions')

                    tbody
                        tr(ng-repeat="entry in entries | filter: searchSupplierEntry | filter: entryStatus | orderBy: orderEntries : isReverseOrder", ng-class="{'overdue': checkOverdue(entry)}")
                            td {{ entry.supplier_id }}
                            td {{ entry.main_contact_name }}
                            td {{ entry.vehicle_plate_number }}
                            td {{ entry.number_of_people_entered }}
                            td {{ entry.main_contact_phone_number }}
                            td {{ entry.allowed_visa_hours}}
                            td(ng-if="entry.supplier_status === 'Inside'")
                                span.badge.green=t(t_prefix + 'entries.inside')
                            td(ng-if="entry.supplier_status === 'Outside'")
                                span.badge.red=t(t_prefix + 'entries.outside')
                            td {{ entry.enterance_time | date : 'dd/MM/yy HH:mm' }}
                            td {{ entry.departure_time | date : 'dd/MM/yy HH:mm' }}
                            td
                                button.btn.btn-xs.Btn__red(ng-click="supplierLeft(entry)", ng-hide="entry.supplier_status !== 'Inside'")
                                    span(class='glyphicon glyphicon-remove')
                                    =t(t_prefix+'entries.exit')
                                button.btn.btn-xs.Btn__default(ng-click="editEntry(entry)")
                                    span(class='glyphicon glyphicon-pencil')
                                    =t(t_prefix + 'entries.edit')
                                button.btn.btn-xs.Btn__blue(ng-click="showComments(entry.supplier_id)")
                                    span(class='glyphicon glyphicon-comment')
                                    =t(t_prefix+'entries.comments')
            .choose_name.card.card-forth.card__padding--even.card-hide.col-xs-12
                h2=t(t_prefix+'entries.new')
                .col-sm-6.col-xs-12
                    .pos-r
                        label=t(t_prefix+'edit_new.id')
                        input(list="supplierList", id='new-supplier-entry-vat', type="text", class="form-control", name="supplier_id", autofocus="true", ng-model="newEntry.supplier_id", required)
                        label=t(t_prefix+'entries.vehicle_plate_number')
                        input(id='new-supplier-entry-plate', type="text", class="form-control", name="supplier_plate", autofocus="true", ng-model="newEntry.vehicle_plate_number", required)
                .col-sm-6.col-xs-12
                    .pos-r
                        label=t(t_prefix + 'entries.num_people_in_vehicle')
                        input(id='new-supplier-entry-people', type="number", class="form-control", name="supplier_people", autofocus="true", ng-model="newEntry.number_of_people_entered", required)
                        label=t(t_prefix + 'entries.visa_duration')
                        input(id='new-supplier-entry-hours', type="number", class="form-control", name="supplier_hours", autofocus="true", ng-model="newEntry.allowed_visa_hours", required)
                .col-sm-12.col-xs-12
                    a.Btn.Btn__green.Btn__inline.btn.card-switcher#1(role='button', ng-click="addEntry()")=t(t_prefix+'entries.add_entry')
                    a.Btn.Btn__red.Btn__inline.btn.card-switcher#1(role='button')
                        span=t(t_prefix+'entries.cancel')
            //- Comments modal
            .modal.fade(id='comments_modal', tabindex='-1', role='dialog')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header.card-header
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true')='×'
                            h4.modal-title=t(t_prefix+ 'entries.comments')
                        .modal-body
                            table.table.h-50-scrollable
                                thead.w-100
                                    tr.w-100
                                        th.w-20=t(t_prefix+ 'entries.burner')
                                        th.w-31=t(t_prefix+ 'entries.time')
                                        th.w-49=t(t_prefix+ 'entries.comment')
                                tbody.w-100
                                    tr.w-100(ng-repeat="commentObj in supplierComment")
                                        td.w-20 {{ commentObj.user_id }}
                                        td.w-31 {{ commentObj.comment_time | date:'medium' }}
                                        td.w-49 {{ commentObj.supplier_comment }}
                        .modal-footer
                            input.form-control(ng-model="newComment" placeholder="Add a new comment",ng-keydown="$event.keyCode === 13 && addComment()")
                            button.Btn.no-transition.Btn__transparent.pull-right(type='button', data-dismiss='modal')=t('suppliers:edit_new.back')
                            button.Btn.no-transition.Btn__green(id='supplier_create_save_modal_request', type='button', ng-click="addComment()")=t('suppliers:edit_new.save')
        //- Camp create request modal
        .modal.fade(id='edit_entry_request_modal', role='dialog')
            .modal-dialog.card.card__padding--even.card__shad(role='document')
                div
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title=t('suppliers:entries.edit')
                        h6.modal-scondery-title {{ editedEntry.supplier_id }} - {{ editedEntry.supplier_name_he }}
                    .modal-body
                        .col-sm-12.col-xs-12
                            .pos-r
                                label=t(t_prefix + 'entries.vehicle_plate_number')
                                input(id='edit-supplier-entry-plate', type="text", class="form-control", name="supplier_plate", autofocus="true", ng-model="editedEntry.vehicle_plate_number", required)
                                label=t(t_prefix + 'entries.num_people_in_vehicle')
                                input(id='edit-supplier-entry-people', type="number", class="form-control", name="supplier_people", autofocus="true", ng-model="editedEntry.number_of_people_entered", required)
                                label=t(t_prefix + 'entries.visa_duration')
                                input(id='edit-supplier-entry-hours', type="number", class="form-control", name="supplier_hours", autofocus="true", ng-model="editedEntry.allowed_visa_hours", required)
                    .modal-footer
                        button.Btn.Btn__transparent.pull-right(id='create_camp_close_btn', type='button', ng-click="cancelEditedEntry()", data-dismiss='modal')=t('suppliers:edit_new.back')
                        button.Btn.Btn__green(id='supplier_create_save_modal_request', type='button', ng-click="saveEditedEntry()")=t('suppliers:edit_new.save')

