extends ../../includes/page
block content
    input.hidden.meta(id='meta__lang', value='#{language}')
    input.hidden.meta(id='meta__supplier_id', value='#{supplier_id}')
    input.hidden.meta(id='isNew', value='#{isNew}')
    .camps.camp_details(ng-app="ngSuppliers" ng-controller="supllierShowController")
        .heading.card.card__shad
            .card__actions
                if (isAdmin || user.isCampManager)
                    .dropdown
                        a.Btn.btn-default(href='/#{language}/suppliers/#{supplier_id}/edit')=t(t_prefix+'.edit')
            .card__details
                h2
                  if language == 'en'
                    | {{ supplier.supplier_name_en }}
                  else
                    | {{ supplier.supplier_name_he }}
                .style
                    h5 #{t(t_prefix+'.category')}
                    span.label.label-primary {{ supplier.supplier_category }}
            .clearfix
            .desc.row
                .col-xs-12
                    .col-xs-12.col-sm-6
                        h4 #{t(t_prefix+'.created')}
                        p.well {{ supplier.created_at | date:'medium' }}
                    .text-right.col-xs-12.col-sm-6
                        h4 #{t(t_prefix+'.last_update')}
                        p.well {{ supplier.updated_at | date:'medium' }}

        .card.card__shad
            .publication.row
                .col-xs-12
                    .col-xs-12.col-md-6
                        h4=t(t_prefix+'.contact_details')
                        ul.list-group
                            li.list-group-item
                                span #{t(t_prefix+'.contact_person')}:
                                span.badge.contact_person_name {{ supplier.main_contact_name }}
                            li.list-group-item
                                span #{t(t_prefix+'.main_contact_phone_number')}:
                                span.badge.contact_person_phone {{ supplier.main_contact_phone_number }}
                            li.list-group-item
                                span #{t(t_prefix+'.position')}:
                                span.badge.contact_person_email {{ supplier.main_contact_position }}
                    .col-xs-12.col-md-6
                        h4=t(t_prefix+'.add_info')
                        ul.list-group
                            li.list-group-item
                                span #{t(t_prefix+'.website_link')}:
                                span.badge.contact_person_name {{ supplier.supplier_website_link }}
                            li.list-group-item
                                span #{t(t_prefix+'.midmarket_link')}:
                                span.badge.contact_person_phone {{supplier.supplier_midmarket_link }}
                            li.list-group-item
                                span #{t(t_prefix+'.comments')}:
                                span.badge.contact_person_email {{ supplier.comments}}
                    .col-xs-12
                        h4=t('suppliers:edit_new.camps_sum')
                            span.badge {{ relatedCamps.length }}

                        table.table.table-striped.table-hover
                            thead
                                tr.cursor-pointer-children
                                    th(ng-click='changeOrderBy("id")')=t('suppliers:edit_new.camp_id')
                                    th(ng-click='changeOrderBy("camp_name_he")')=t('suppliers:edit_new.camp_name_he')
                                    th(ng-click='changeOrderBy("camp_name_en")')=t('suppliers:edit_new.camp_name_en')

                            tbody
                                tr(ng-repeat="camp in relatedCamps | filter: searchMembers | orderBy: orderCamps")
                                    td {{camp.id}}
                                    td
                                        a.cursor-p(ng-href=`/${language}/camps/{{camp.id}}`) {{ camp.camp_name_he }}
                                    td
                                        a.cursor-p(ng-href=`/${language}/camps/{{camp.id}}`) {{ camp.camp_name_en }}

