extends ../includes/page
block content
    h1.jumbotron-heading=t('gate:gate')
    p.lead.text-muted=t('gate:desc')
    div.card
        if (errorMessage && errorMessage.length > 0)
            .alert.alert-danger
                p=errorMessage

        span(id="alerts")

        .form-group
            label=t('gate:search')
        table( id='tickets_table', data-toggle="table", data-url="/he/gate/ajax/tickets", data-search="true", data-side-pagination="server" )
            thead
                tr
                    th( data-field="ticket_number" )=t('ticket_number')
                    th( data-field="order_id" )=t('order_number')
                    th( data-field="israeli_id" )=t('israeli_id')
                    th( data-field="first_name" )=t('first_name')
                    th( data-field="last_name" )=t('last_name')
                    th( data-field="email" )=t('email')
                    th( data-field="type" )=t('ticket_type')
                    th( data-formatter="insideEventFormatter" )=t('gate:inside_event')
                    th( data-formatter="tableActionsFormatter" )=t('operations')


    #myModal.modal.fade(role='dialog')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h4.modal-title=t("gate:enter_ticket")
                    h5(style="visibility:hidden;")#modal_status=t('gate:early_arrival')
                .modal-body
                    h3=t('gate:entrance_instructions')
                    span( id='modal_barcode' style="visibility:hidden;")
                    span( id='modal_mode' style="visibility:hidden;")
                    span( id='modal_group_id' style="visibility:hidden;")
                    p
                        b=t('ticket_number')
                        | :&nbsp;
                        span( id='modal_ticket_number')
                    p
                        b=t('full_name')
                        | :&nbsp;
                        span( id='modal_name')
                    p
                        b=t('israeli_id')
                        | :&nbsp;
                        span( id='modal_israeli_id')
                    p
                        b=t('email')
                        | :&nbsp;
                        span( id='modal_email')
                    p
                        b=t('gate:ticket_type')
                        | :&nbsp;
                        span( id='modal_type')
                    P( id="prod_approval" style="color: green")
                        span.glyphicon.glyphicon-ok
                        b=t('gate:prod_approval')
                    P( id="ticket_groups")
                        b=t('gate:ticket_group')
                        | :&nbsp;
                        .list-group(id="ticket_groups_list")


                .modal-footer
                    button.Btn.Btn__green(type='button', data-dismiss='modal', id='entrance_button')=t('gate:enter_ticket')
                    button.Btn(type='button', data-dismiss='modal')=t('cancel')
                    .pull-right
                        button.Btn.Btn__red(type='button', data-dismiss='modal', id='force_entrance_button')
                            =t('gate:force_enter_ticket')

    #detailsModal.modal.fade(role='dialog')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h4.modal-title(id='modal_full_name')
                .modal-body
                    p
                        b=t('first_entrance_timestamp')
                        | :&nbsp;
                        span( id='modal_first_entrance_timestamp')
                    p
                        b=t('entrance_timestamp')
                        | :&nbsp;
                        span( id='modal_entrance_timestamp')
                    p
                        b=t('last_exit_timestamp')
                        | :&nbsp;
                        span( id='modal_last_exit_timestamp')
                    p( id='modal_disabled_parking')


    #forceDialog.modal.fade(role='dialog')
        .modal-dialog
            .modal-content
                form( data-toggle="validator", id="force_form" )
                    .modal-header
                        button.close(type='button', data-dismiss='modal') ×
                        h4.modal-title=t("gate:enter_ticket")
                    .modal-body
                        h3=t('gate:entrance_instructions')
                        .alert.alert-danger
                            strong=t('gate:force_instructions')
                        p
                            strong=t('gate:reason')
                            | :&nbsp;
                            textarea( id="force_reason", rows=3, cols=50, minlength=10, maxlength=150,
                            required, placeholder="#{t('gate:force_reason_placeholder')}" )
                        p
                            strong=t('password')
                            | :&nbsp;
                            input(id="force_pwd", type="password", name="force_pwd",required)
                    .modal-footer
                        button.btn.btn-primary(type='submit', id='force_entrance_dialog_button')=t('gate:force_enter_ticket')
                        button.btn.btn-cancel(type='button', data-dismiss='modal')=t('cancel')

block scripts
    script.

        function tableActionsFormatter(value, row, index) {
            var res = '<a class="detailsAction " id="' + row.barcode + '" ' +
                'data-toggle="modal" href="#detailsModal" data-id="" title="More Details">' +
                '<button class="btn btn-xs"> <span class="glyphicon glyphicon-search"></span>#{t("gate:more_details")}</button></a> ';
            if (!row.inside_event) {
                res += '<a class="entranceAction " id="' + row.barcode + '" ' +
                    'data-toggle="modal" href="#myModal" data-id="" title="Enter">' +
                    '<button class="btn btn-xs"> <span class="glyphicon glyphicon-log-in"></span>#{t("gate:enter_ticket")}</button></a> ';
            }
            else {
                res += '<a class="exitAction " id="' + row.barcode + '" ' +
                    'data-toggle="modal" href="#myModal" data-id="" title="Enter">' +
                    '<button class="btn btn-xs"> <span class="glyphicon glyphicon-log-out"></span>#{t("gate:exit_ticket")}</button></a> ';
            }
            return res;
        };

        function insideEventFormatter(value, row, index) {
            if (row.inside_event) {
                return '<span class="glyphicon glyphicon-ok text-green" data-toggle="tooltip" data-placement="top" title="יציאה עם צמיד"/>';
            }
            return "";
        };

        function dateFormat(value) {
            if (value) {
                var d = new Date(value);
                return ("0" + d.getDate()).slice(-2) + "/" + ("0" + (d.getMonth() + 1)).slice(-2) + "/" +
                    d.getFullYear() + ", " + ("0" + d.getHours()).slice(-2) + ":" + ("0" + d.getMinutes()).slice(-2);
            }
        };

        function parkingFormat(value) {
            return parseInt(value, 10) === 1 ? '<i class="fa fa-wheelchair"></i> #{t("disabled_parking")}' : '';
        };

        $(document).ready(function () {

            $(".search .form-control").focus();

            $("#force_form").submit(function (e) {
                e.preventDefault();
            });

            $(document).on("click", ".entranceAction", function () {
                $("#prod_approval").hide();
                clearModal();
                $.post("/api/gate/get-ticket", {
                        barcode: this.id,
                        event_id: "#{event_id}"
                    },
                    function (data, status) {
                        if (data.gate_status === "early_arrival"){
                            $("#modal_status")[0].style = "visibility: visible";
                        }
                        $("#modal_mode")[0].innerHTML = "enter";
                        $("#modal_barcode")[0].innerHTML = data.ticket.barcode;
                        $("#modal_ticket_number")[0].innerHTML = data.ticket.ticket_number;
                        $("#modal_name")[0].innerHTML = data.ticket.holder_name;
                        $("#modal_email")[0].innerHTML = data.ticket.email;
                        $("#modal_type")[0].innerHTML = data.ticket.type;
                        $("#modal_israeli_id")[0].innerHTML = data.ticket.israeli_id;

                        $("#force_entrance_button").show();

                        let entranceButton = $("#entrance_button")[0];
                        entranceButton.innerHTML = "#{t('gate:enter_ticket')}";

                        if (data.gate_status === "early_arrival"){
                            if (data.ticket.production_early_arrival) {
                                $("#prod_approval").show();
                            }
                            if ( !data.ticket.production_early_arrival && (data.ticket.groups && data.ticket.groups.length > 0)) {
                                entranceButton.disabled = true;
                                let groupsElement = $("#ticket_groups_list")[0];
                                groupsElement.innerHTML = "";
                                for (let group in data.ticket.groups) {
                                    let groupData = data.ticket.groups[group];
                                    if (groupData.early_arrival) {
                                        groupsElement.innerHTML += "<a class='list-group-item' id='g_" + groupData.id + "'>" + groupData.name + "</a>"
                                    }
                                }
                                $(".list-group-item").click(function () {
                                    $(".list-group-item").removeClass("active");
                                    $(this).addClass("active");
                                    entranceButton.disabled = false
                                    $("#modal_group_id")[0].innerHTML = $(this)[0].id;
                                });
                            }

                        }
                        else {
                            let groupsElement = $("#ticket_groups_list")[0];
                            groupsElement.innerHTML = "";
                        }
                    });
            });

            $(document).on("click", ".detailsAction", function () {
                clearModal();
                $.post("/api/gate/get-ticket", {
                        barcode: this.id,
                        event_id: "#{event_id}"
                    },
                    function (data, status) {
                        if (data) {
                            $("#modal_full_name")[0].innerHTML = "#{t('gate:more_details')} - " + data.ticket.holder_name;
                            $("#modal_first_entrance_timestamp")[0].innerHTML = dateFormat(data.ticket.first_entrance_timestamp);
                            $("#modal_entrance_timestamp")[0].innerHTML = dateFormat(data.ticket.entrance_timestamp);
                            $("#modal_last_exit_timestamp")[0].innerHTML = dateFormat(data.ticket.last_exit_timestamp);
                            $("#modal_disabled_parking")[0].innerHTML = parkingFormat(data.ticket.disabled_parking);
                        }
                    });
            });

            $(document).on("click", ".exitAction", function () {
                clearModal();
                $.post("/api/gate/get-ticket", {
                        barcode: this.id,
                        event_id: "#{event_id}"
                    },
                    function (data, status) {
                        $("#modal_mode")[0].innerHTML = "exit";
                        $("#modal_barcode")[0].innerHTML = data.ticket.barcode;
                        $("#modal_ticket_number")[0].innerHTML = data.ticket.ticket_number;
                        $("#modal_name")[0].innerHTML = data.ticket.holder_name;
                        $("#modal_email")[0].innerHTML = data.ticket.email;
                        $("#modal_type")[0].innerHTML = data.ticket.type;

                        var entranceButton = $("#entrance_button")[0];
                        entranceButton.innerHTML = "#{t('gate:exit_ticket')}";
                        entranceButton.disabled = false;
                        $("#ticket_groups_list")[0].innerHTML = "";

                        $("#force_entrance_button").hide();
                    });
            });

            $(document).on("click", "#force_entrance_button", function () {
                $("#force_reason").val('')
                $('#forceDialog').modal('show');
            });

            $(document).on("click", "#force_entrance_dialog_button", function () {
                if (!$("#force_entrance_dialog_button").hasClass("disabled")) {
                    let force_reason = $("#force_reason").val();
                    let force_pwd = $("#force_pwd").val();
                    $('#forceDialog').modal('hide');
                    enter(true, force_reason, force_pwd);
                }
            });

            $(document).on("click", "#entrance_button", function () {
                enter(false, null);
            });

            function enter(force, force_reason, force_pwd) {
                let parameters = {
                    barcode: $("#modal_barcode")[0].innerHTML,
                    event_id: "#{event_id}",
                    group_id: $("#modal_group_id")[0].innerHTML.substring(2),
                    force: force,
                    force_reason: force_reason,
                    force_pwd: force_pwd
                };
                let mode = $("#modal_mode")[0].innerHTML;
                $.post("/api/gate/gate-" + mode, parameters)
                    .done(function (data, status) {
                        if (status === "success") {
                            $("#alerts")[0].innerHTML = "<div class='alert alert-success'>" + data.message + "</div>";
                        }
                        $("#tickets_table").bootstrapTable('resetSearch');
                    })
                    .fail(function (xhr) {
                        $("#alerts")[0].innerHTML = "<div class='alert alert-danger'>" + JSON.parse(xhr.responseText).message + "</div>";
                    });
            }

            function clearModal() {
                $("#modal_mode")[0].innerHTML = "";
                $("#modal_barcode")[0].innerHTML = "";
                $("#modal_ticket_number")[0].innerHTML = "";
                $("#modal_name")[0].innerHTML = "";
                $("#modal_email")[0].innerHTML = "";
                $("#modal_type")[0].innerHTML = "";
                $("#modal_israeli_id")[0].innerHTML = "";

            }
        });
