extends ../includes/page

block content
    h2=t('gate:gate')

    if (errorMessage && errorMessage.length > 0)
        .alert.alert-danger
            p=errorMessage

    span(id="alerts")

    .form-group
        label=t('gate:search')
    table( id='tickets_table', data-toggle="table", data-url="/he/gate/ajax/tickets", data-search="true", data-side-pagination="server",
    data-pagination="true" )
        thead
            tr
                th( data-field="ticket_number" )=t('ticket_number')
                th( data-field="order_id" )=t('order_number')
                th( data-field="israeli_id" )=t('israeli_id')
                th( data-field="first_name" )=t('first_name')
                th( data-field="last_name" )=t('last_name')
                th( data-field="email" )=t('email')
                th( data-field="type" )=t('ticket_type')
                th( data-field="disabledParking" data-formatter="parkingFormat")=t('disabledParking')
                th( data-field="first_entrance_timestamp" data-formatter="dateFormat" )=t('first_entrance_timestamp')
                th( data-field="entrance_timestamp" data-formatter="dateFormat")=t('entrance_timestamp')
                th( data-field="last_exit_timestamp" data-formatter="dateFormat")=t('last_exit_timestamp')
                th( data-formatter="insideEventFormatter" )=t('gate:inside_event')
                th( data-formatter="tableActionsFormatter" )=t('operations')

    #myModal.modal.fade(role='dialog')
        .modal-dialog
            // Modal content
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h4.modal-title=t("gate:enter_ticket")
                .modal-body
                    h3=t('gate:entrance_instructions')
                    span( id='modal_barcode' style="visibility:hidden;")
                    span( id='modal_mode' style="visibility:hidden;")
                    span( id='modal_group_id' style="visibility:hidden;")
                    p
                        b=t('ticket_number')
                        | :&nbsp;
                        span( id='modal_ticket_number' )
                    p
                        b=t('full_name')
                        | :&nbsp;
                        span( id='modal_name' )
                    p
                        b=t('israeli_id')
                        | :&nbsp;
                        span( id='modal_ilid' )
                    p
                        b=t('email')
                        | :&nbsp;
                        span( id='modal_email' )
                    p
                        b=t('gate:ticket_type')
                        | :&nbsp;
                        span( id='modal_type' )
                    P( id="ticket_groups")
                        b=t('gate:ticket_group')
                        | :&nbsp;
                        .list-group(id="ticket_groups_list")

                .modal-footer
                    button.btn.btn-primary(type='button', data-dismiss='modal', id='entrance_button')
                    button.btn.btn-cancel(type='button', data-dismiss='modal')=t('cancel')
                    .pull-right
                        button.btn.btn-danger(type='button', data-dismiss='modal', id='force_entrance_button')
                            =t('gate:force_enter_ticket')

block scripts
    script.

        function tableActionsFormatter(value, row, index) {
            if (!row.inside_event) {
                return '<a class="entranceAction" id="' + row.barcode + '" ' +
                    'data-toggle="modal" href="#myModal" data-id="" title="Enter">#{t("gate:enter_ticket")}</a> ';
            } else {
                return '<a class="exitAction" id="' + row.barcode + '" ' +
                    'data-toggle="modal" href="#myModal" data-id="" title="Enter">#{t("gate:exit_ticket")}</a> ';
            }
        };

        function insideEventFormatter(value, row, index) {
            if (row.inside_event) {
                return '<span class="glyphicon glyphicon-ok" />';
            }
            return "";
        };

        function dateFormat(value) {
            if (value) {
                var d = new Date(value);
                return ("0" + d.getDate()).slice(-2) + "-" + ("0" + (d.getMonth() + 1)).slice(-2) + "-" +
                    d.getFullYear() + " " + ("0" + d.getHours()).slice(-2) + ":" + ("0" + d.getMinutes()).slice(-2);
            }
        }

        function parkingFormat(value) {
            return parseInt(value, 10) === 1 ? '<button type="button" class="btn btn-success">&nbsp;</button>' : '';
        }

        $(document).ready(function () {

            $(document).on("click", ".entranceAction", function () {
                $.post("/api/gate/get-ticket", {
                        barcode: this.id,
                        gate_code: "#{gate_code}"
                    },
                    function (data, status) {
                        $("#modal_mode")[0].innerHTML = "enter";
                        $("#modal_barcode")[0].innerHTML = data.ticket.barcode;
                        $("#modal_ticket_number")[0].innerHTML = data.ticket.ticket_number;
                        $("#modal_name")[0].innerHTML = data.ticket.holder_name;
                        $("#modal_email")[0].innerHTML = data.ticket.email;
                        $("#modal_type")[0].innerHTML = data.ticket.type;
                        $("#modal_ilid")[0].innerHTML = data.ticket.israeli_id;

                        let entranceButton = $("#entrance_button")[0];
                        entranceButton.innerHTML = "#{t('gate:enter_ticket')}";
                        entranceButton.disabled = true;

                        if (data.ticket.groups && data.ticket.groups.length > 0) {
                            entranceButton.disabled = true;
                            let groupsElement = $("#ticket_groups_list")[0];
                            groupsElement.innerHTML = "";
                            for (let group in data.ticket.groups) {
                                let groupData = data.ticket.groups[group];
                                groupsElement.innerHTML += "<a class='list-group-item' id='g_" + groupData.id + "'>" + groupData.name + "</a>"
                            }
                            $(".list-group-item").click(function () {
                                $(".list-group-item").removeClass("active");
                                $(this).addClass("active");
                                entranceButton.disabled = false
                                $("#modal_group_id")[0].innerHTML = $(this)[0].id;
                            });
                        } else {
                            let groupsElement = $("#ticket_groups_list")[0];
                            groupsElement.innerHTML = "";
                        }
                    });
            });

            $(document).on("click", ".exitAction", function () {
                $.post("/api/gate/get-ticket", {
                        barcode: this.id,
                        gate_code: "#{gate_code}"
                    },
                    function (data, status) {
                        $("#modal_mode")[0].innerHTML = "exit";
                        $("#modal_barcode")[0].innerHTML = data.ticket.barcode;
                        $("#modal_ticket_number")[0].innerHTML = data.ticket.ticket_number;
                        $("#modal_name")[0].innerHTML = data.ticket.holder_name;
                        $("#modal_email")[0].innerHTML = data.ticket.email;
                        $("#modal_type")[0].innerHTML = data.ticket.type;

                        var entranceButton = $("#entrance_button")[0];
                        entranceButton.innerHTML = "#{t('gate:exit_ticket')}";
                        entranceButton.disabled = false;
                        $("#ticket_groups_list")[0].innerHTML = "";
                    });
            });
            $(document).on("click", "#force_entrance_button", function () {
                if(prompt("נא לכתוב בכוח ^_^", "בלי כוח") == "בכוח") {
                    let parameters = {
                        barcode: $("#modal_barcode")[0].innerHTML,
                        gate_code: "#{gate_code}",
                        group_id: $("#modal_group_id")[0].innerHTML.substring(2),
                        force: true
                    };

                    let mode = $("#modal_mode")[0].innerHTML;
                    $.post("/api/gate/gate-" + mode, parameters)
                    .done(function (data, status) {
                        if (status === "success") {
                            $("#alerts")[0].innerHTML = "<div class='alert alert-success'>" + data.message + "</div>";
                        }
                        $("#tickets_table").bootstrapTable('resetSearch');
                    })
                    .fail(function (xhr) {
                        $("#alerts")[0].innerHTML = "<div class='alert alert-danger'>" + JSON.parse(xhr.responseText).message + "</div>";
                    });
                }

            });
            $(document).on("click", "#entrance_button", function () {
                let parameters = {
                    barcode: $("#modal_barcode")[0].innerHTML,
                    gate_code: "#{gate_code}",
                    group_id: $("#modal_group_id")[0].innerHTML.substring(2)
                };

                let mode = $("#modal_mode")[0].innerHTML;
                $.post("/api/gate/gate-" + mode, parameters)
                    .done(function (data, status) {
                        if (status === "success") {
                            $("#alerts")[0].innerHTML = "<div class='alert alert-success'>" + data.message + "</div>";
                        }
                        $("#tickets_table").bootstrapTable('resetSearch');
                    })
                    .fail(function (xhr) {
                        $("#alerts")[0].innerHTML = "<div class='alert alert-danger'>" + JSON.parse(xhr.responseText).message + "</div>";
                    });
            });
        });
