extends ../includes/page
block content
    script.
        const currentEventRules = {
            edit_camp_disabled: #{!!currentEventRules.edit_camp_disabled},
            edit_art_disabled: #{!!currentEventRules.edit_art_disabled}
        };
        const currentEventId = '#{user.currentEventId}'
    h1=t('welcome_home', {user: user.attributes.first_name, context: user.attributes.gender})
    .camps.camp_edit(ng-app="ngCamps", ng-controller="homeController")
        br
        h4.text-muted(style="display:inline-block")
            =t('my_midburn')
        dropdown.Btn
            .dropdown-toggle( href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
                span
                    | #{user.currentEventId}
                    span.caret
            ul.dropdown-menu(data-toggle="dropdown")
                each val in events
                    li
                        a(ng-click="angular_ChangeCurrentEventId('#{val.event_id}')") #{val.event_id}


        div.card(style="position: inherit")
            table.table.table-striped.table-hover
                thead
                    tr
                    th(ng-click='changeOrderBy("id")') #
                    th(ng-click='changeOrderBy("name")') סוג הקבוצה
                    th(ng-click='changeOrderBy("email")') שם הקבוצה
                    th(ng-click='changeOrderBy("cell_phone")') סטאטוס
                    th() מנהל
                    th()=t('camps:members.actions')
                    //- th(ng-click='changeOrderBy("member_status_i18n")') פעולות
                    //- th(ng-click='changeOrderBy("ticket_count")')
                    //- th(ng-click='changeOrderBy("inside_event")')
                tbody
                    tr(ng-repeat="group in groups ")
                        td {{group.user_id}}
                        td {{group.group_type}}
                        td {{group.camp_desc_i18n}}
                        td {{group.member_status_i18n}}
                        td {{group.is_manager}}
                        //- td {{group.earlyArrival ? 'yes':'no'}}
                        td
                            a.cursor-p(ng-href=`/${language}/camps/{{group.group_id}}` + '/edit' ng-if="isGroupEditable(group, currentEventRules)") &nbsp;
                                button.btn.btn-xs
                                    span(class='glyphicon glyphicon-pencil')
                                    =t('camps:stats.edit')
                            a.cursor-p(ng-href=`/${language}/camps/{{group.group_id}}` ng-if="group.can_view") &nbsp;
                                button.btn.btn-xs
                                    span(class='glyphicon glyphicon-pencil')
                                    =t('camps:edit.view')

                                //- a.cursor-p(ng-click='updateUser(group.name, group.user_id, "reject")', ng-if="group.can_reject") &nbsp;
                                //-     button.btn.btn-xs
                                //-         span(class='glyphicon glyphicon-remove')
                                //-         =t('camps:groups.reject')
                                //- a.cursor-p(ng-click='updateUser(group.name, group.user_id, "approve")', ng-if="group.can_approve") &nbsp;
                                //-     button.btn.btn-xs
                                //-         span(class='glyphicon glyphicon-ok')
                                //-         =t('camps:groups.approve')
                                //- a.cursor-p(ng-click='updateUser(group.name, group.user_id, "approve_mgr")', ng-if="group.can_approve_mgr") &nbsp;
                                //-     button.btn.btn-xs
                                //-         span(class='glyphicon glyphicon-king')
                                //-         =t('camps:groups.approve_as_manager')
                                //- a.cursor-p(ng-click='updateUser(group.name, group.user_id, "remove_mgr")', ng-if="group.can_remove_mgr") &nbsp;
                                //-     button.btn.btn-xs
                                //-         span(class='glyphicon glyphicon-king')
                                //-         =t('camps:groups.remove_manager')
                                //- a.cursor-p(ng-click='updateUser(group.name, group.user_id, "remove")', ng-if="group.can_remove") &nbsp;
                                //-     button.btn.btn-xs
                                //-         span(class='glyphicon glyphicon-remove')
                                //-         =t('camps:groups.remove')
                //- .col-xs-6
                    h4=t('camps:admin_index.total_approved_groups')
                        span.badge {{all_approved_members}}
                //- .col-xs-6
                    h4=t('camps:admin_index.total_camp_tickets')
                        span.badge {{total_camp_tickets}}
                                //- h4=סטטיסטיקת אדמין
        if user.isAdmin
            include partials/gate_statistics
            include partials/other_statistics


