extends ../includes/layout
block wrapper
    div.container
        .row
            .center-block(style="max-width:320px; margin-top: 20px;")
                .login__errors.text-left
                    if (errorMessage && errorMessage.length > 0)
                        .alert.alert-danger
                            p=errorMessage

                    if (successMessage && successMessage.length > 0)
                        .alert.alert-success
                            p=successMessage

                    if (successMessageResource && successMessageResource.length > 0)
                        .alert.alert-success
                            p=t(successMessageResource)

                .card
                    .col-xs-6
                        .midburn_logo
                    .col-xs-6
                        h1=t('welcome_spark')
                    .col-xs-12.text-center
                        h2=t('login')

                    if (process.env.NODE_ENV != 'production' || process.env.NOT_PRODUCTION_MESSAGE)
                        .col-xs-12.text-center
                            div(style="direction:ltr;")
                                if process.env.NOT_PRODUCTION_MESSAGE
                                    h3(style="color:red;") #{process.env.NOT_PRODUCTION_MESSAGE}
                                else
                                    h3(style="color:red;") This system is not a production server

                    form(action="/#{language}/login", method="post", data-toggle="validator", role="form")
                        input(type="hidden", name="r", value=r)
                        .row
                            .col-xs-12
                                label(for='login_email')=t('email')
                                input.form-control(id='login_email', placeholder=t("email_placeholder") ,type="text", name="email", data-error="#{t('mandatory_field')}", autofocus="true", required)
                                .help-block.with-errors
                            .col-xs-12
                                label(for='login_password')=t('password')
                                input.form-control(id='login_password', type="password", name="password",data-error="#{t('mandatory_field')}", required)
                                .help-block.with-errors
                            .col-xs-12
                                .checkbox
                                    input(type="checkbox", id="remember", name="remember")
                                    label(for="remember")=t('remember_me')
                        .center-block
                            button.btn.btn-info.btn-block(type="submit")=t('login')
                            //- ## TODO we are using dropal login / signup. old spark links are comment out for future use ##
                            //- a.btn.btn-info.btn-block.fb-login(href="/auth/facebook")
                            //-     span.fa.fa-facebook-square(aria-hidden="true")
                            //-     span=t('facebook.login')
                    hr
                    .center-block
                        div
                            span=t('need_account')
                            //- ## TODO we are using dropal login / signup. old spark links are comment out for future use ##
                            //- a(href="signup")=t('sign_up')
                            a(href="https://profile.midburn.org/#{language}/user/register")=t('sign_up')
                        div
                            //- ## TODO we are using dropal login / signup. old spark links are comment out for future use ##
                            //- a(href="/#{language}/reset_password")=t('forgot_password_question')
                            a(id='reset-password-link',href="https://profile.midburn.org/#{language}/user/password")=t('forgot_password_question')
                        if (process.env.NODE_ENV != 'production' || process.env.DEVELOPERS_INFORMATION)
                            div(style="direction:ltr;")
                                h4(style="color:red;") Developers information:
                                if process.env.DEVELOPERS_INFORMATION
                                    p #{process.env.DEVELOPERS_INFORMATION}
                                else
                                    p package.json version: #{process.env.version}
                                    p SPARK_DEPLOYMENT_TIME: #{process.env.SPARK_DEPLOYMENT_TIME}
                                    p >>>&nbsp;
                                        a(href="/dev" style="text-decoration:underline;") Development Console
                                        |&nbsp;<<<
                        hr
                        .langs-wrapper
                            p
                                span
                                    a(href="/he/login")
                                        img(src="/images/flags/he.gif")
                                span
                                    a(href="/en/login")
                                        img(src="/images/flags/en.gif")
