extends ../includes/layout
block wrapper
    br
    div( class='col-md-3 col-md-offset-4 well' )
        span( class="fa fa-sign-in" )

            h1=t('welcome_spark')
            h2=t('login')

            if (errorMessage && errorMessage.length > 0)
                div( class="alert alert-danger" )
                    p=errorMessage

            form( action="login", method="post" )
                input( type="hidden", name="r", value=r )
                div( class="form-group" )
                    label=t('email')
                    input( type="text", class="form-control", name="email" )
                div( class="form-group" )
                    label=t('password')
                    input( type="password", class="form-control", name="password" )
                div( class="form-group")
                    input( type="checkbox", name="remember")
                    |&nbsp;
                    label=t('remember_me')
                button( type="submit", class="btn btn-info" )=t('login')
                |&nbsp;
                a( href="reset_password" )
                    span( class="fa fa-user")=t('forgot_password')
            br
            p=t('need_account')
                |&nbsp;
                a( href="signup", class="btn btn-default" )
                    span( class="fa fa-user")=t('sign_up')
            br
            p Change Language / החלפת שפה:&nbsp;&nbsp;
                a( href="/he/login" )
                    img( src="/images/flags/he.gif" )
                |&nbsp;
                a( href="/en/login" )
                    img( src="/images/flags/en.gif" )

