extends ../includes/layout
block wrapper
    br
    .col-md-4.col-md-offset-4.well
        .midburn_logo

        h1=t('welcome_spark')
        h2=t('login')

        if (errorMessage && errorMessage.length > 0)
            .alert.alert-danger
                p=errorMessage

        if (successMessage && successMessage.length > 0)
            .alert.alert-success
                p=successMessage

        form( action="/#{language}/login", method="post", data-toggle="validator", role="form" )
            input( type="hidden", name="r", value=r )
            .form-group
                label=t('email')
                input( type="text", class="form-control", name="email", required, autofocus )
            .form-group
                label=t('password')
                input( type="password", class="form-control", name="password", required )
            .form-group
                input( type="checkbox", name="remember")
                |&nbsp;
                label=t('remember_me')
            .text-center
                button( type="submit", class="btn btn-info" )=t('login')
                |&nbsp;
                a( href="/#{language}/reset_password" )=t('forgot_password')
        hr
        .text-center
            p=t('need_account')
                |&nbsp;
                a.btn.btn-default( href="signup" )=t('sign_up')
            hr
            p.text-center
                a( href="/he/login" )
                    img( src="/images/flags/he.gif" )
                |&nbsp;
                a( href="/en/login" )
                    img( src="/images/flags/en.gif" )
