extends ../includes/page

block content
    h1=t('npo')+' ' +currentYear
    if (npoMember.attributes.membership_status == 'request_approved' || npoMember.attributes.membership_status == 'member_should_pay')
        h2=t('membership_fee', {year: currentYear})
        a.btn.btn-default( href="npo/pay_fee" )=t('pay')

    if (npoMember.attributes.membership_status == 'not_member')
        h3=t('npo_call_to_action')
        a.btn.btn-default( href="npo/join" )=t('apply_now')

