extends ../includes/layout
block wrapper
    br
    .col-md-3.col-md-offset-4.well

        .midburn_logo

        h1=t('reset_password')

        if (errorMessage && errorMessage.length > 0)
            .alert.alert-danger
                p=errorMessage

        form( action="/#{language}/reset_password", method="post" )
            .form-group
                label=t('email')
                input( type="text", class="form-control", name="email" )
            button( type="submit", class="btn btn-info" ) #{t('reset_password')}
