extends ../includes/layout
block wrapper
    .col-md-4.col-md-offset-4.well

        .midburn_logo

        h1.text-center=t('reset_password')

        if (errorMessage && errorMessage.length > 0)
            .alert.alert-danger
                p=errorMessage

        else if (successMessage && successMessage.length > 0)
            .alert.alert-success
                p=successMessage

        else
            form( action="/#{language}/reset_password", method="post", data-toggle="validator", role="form" )
                .form-group
                    label=t('email')
                    input( type="text", class="form-control", name="email", required )
                .text-center
                    button( id="reset-password-btn", type="submit", class="btn btn-info" )=t('reset_password')
                
        .text-center
            hr
            a( href="/#{language}/login" )=t('back_to_login')
            hr
        .langs-wrapper
            p
                span
                    a( href="/he/reset_password" )
                        img( src="/images/flags/he.gif" )
                span
                    a( href="/en/reset_password" )
                        img( src="/images/flags/en.gif" )
