extends ../includes/layout
block content
    .col-md-3.col-md-offset-4.well

        .midburn_logo

        h1=t('reset_password')

        if (errorMessage && errorMessage.length > 0)
            .alert.alert-danger
                p=errorMessage

        else if (successMessage && successMessage.length > 0)
            .alert.alert-success
                p=successMessage

        else
            form( action="/#{language}/reset_password", method="post", data-toggle="validator", role="form" )
                .form-group
                    label=t('email')
                    input( type="text", class="form-control", name="email", required )
                .text-center
                    button( type="submit", class="btn btn-info" )=t('reset_password')
                
        .text-center
            hr
            a( href="/#{language}/login" )=t('back_to_login')
