extends ../includes/layout

block wrapper
    br
    .col-md-4.col-md-offset-4.well
        .midburn_logo

        h2=t('sign_up')

        if (errorMessage && errorMessage.length > 0)
            .alert.alert-danger
                p=errorMessage

        if (errorMessageResource && errorMessageResource.length > 0)
            .alert.alert-danger
                p=t(errorMessageResource)


        form( action="signup", id = "registration-form", method="post", data-toggle="validator", role="form" )
            fieldset
                .form-group
                    label=t('email')
                    input( type="email", class="form-control", name="email", value="#{body && body.email || ''}", data-error="#{t('bad_email')}", required )
                    .help-block.with-errors

                button(type="submit", class="btn btn-next")=t('next')

            fieldset
                .form-group
                    label=t('playa_name')
                    input( type="text", class="form-control", id="playa_name", value="#{(body && body.playa_name)||''}", data-error="#{t('mandatory_field')}", required )

                .form-group
                    p=t('prev_burn_man_events')
                    each burn_man_event, i in choices.burn_man_events
                        label( class="form-control") "#{burn_man_event}"
                            input( type="checkbox",  id="prev_burn_man_events", name="burn_man_events" value="#{i}", data-error="#{t('mandatory_field')}")

                .form-group
                    p=t('prev_midburn_events')
                    each midburn_event, i in choices.midburn_events
                        label( class="form-control") "#{midburn_event}"
                            input( type="checkbox",  id="prev_midburn_events", name="midburn_events" value="#{i}", data-error="#{t('mandatory_field')}")

                .form-group
                    label=t('how_plan_to_participate')
                    select(class="form-control", name="way_of_paricipation", value="#{(body && body.way_of_paricipation)||''}", data-error="#{t('mandatory_field')}", required )
                        each way_of_paricipation, i in choices.ways_of_paricipation
                            option(value=i) #{way_of_paricipation}


                button(type="button", class="btn btn-previous")=t('previous')
                button(type="submit", class="btn btn-next")=t('next')

            fieldset
                .form-group
                    label( class="form-control")=t('have_medical_training')
                        input( type="checkbox",  id="have_medical_training", name="medical_training" value="#{(body && body.medical_training)||''}", data-error="#{t('mandatory_field')}")

                .form-group
                    label=t('medical_training_details')
                    input( type="text", class="form-control", id="medical_training_details", value="#{(body && body.medical_training_details)||''}", data-error="#{t('mandatory_field')}", required )

                .form-group
                    label( class="form-control")=t('have_medical_condition')
                        input( type="checkbox",  id="have_medical_condition", name="medical_condition" value="#{(body && body.medical_condition)||''}", data-error="#{t('mandatory_field')}")

                .form-group
                    label=t('medical_condition_details')
                    input( type="text", class="form-control", id="medical_condition_details", value="#{(body && body.medical_condition_details)||''}", data-error="#{t('mandatory_field')}", required )

                button(type="button", class="btn btn-previous")=t('previous')
                button(type="submit", class="btn btn-next")=t('next')

            fieldset
                .form-group
                    label( class="form-control")=t('hebrew_newsletter')
                        input( type="checkbox",  id="hebrew_newsletter", name="newsletter" value="hebrew", data-error="#{t('mandatory_field')}")
                    label( class="form-control")=t('english_newsletter')
                        input( type="checkbox",  id="english_newsletter", name="newsletter" value="english", data-error="#{t('mandatory_field')}")

                .form-group
                    label( class="form-control")=t('read_ten_principals')
                        input( type="checkbox",  id="read_ten_principals", value="read_ten_principals", data-error="#{t('mandatory_field')}")
                        a(src="#") link
                .form-group
                    label( class="form-control")=t('read_survival_guide')
                        input( type="checkbox",  id="read_survival_guide",  value="read_survival_guide", data-error="#{t('mandatory_field')}")
                        a(src="#") link
                .form-group
                    label( class="form-control")=t('read_terms')
                        input( type="checkbox",  id="read_terms",  value="read_terms", data-error="#{t('mandatory_field')}")
                        a(src="#") link
                .form-group
                    div( class="g-recaptcha" data-sitekey="6LcdJwwUAAAAAGfkrUCxOp-uCE1_69AlIz8yeHdj")

                .text-center
                    button(type="button", class="btn btn-previous")=t('previous')
                    button( type="submit", class="btn btn-info" )=t('sign_up')
                    hr
                    p
                        a( href="/he/signup" )
                            img( src="/images/flags/he.gif" )
                        | &nbsp;
                        a( href="/en/signup" )
                            img( src="/images/flags/en.gif" )



