extends ../includes/page
block content
    .camps.camp_details
        section
            .card.card__profile.card__shad
                .row
                    .header.col-xs-12.col-sm-5
                        img.hoverZoomLink(src='http://lorempixel.com/150/150/people/')
                        h3 #{user.fullName}
                        h4 #{user.attributes.email}
                        span.label.label-info
                          if user.isAdmin
                            | Admin
                          if user.isCampManager
                            | Camp Manager
                    .col-xs-12.col-sm-7
                        ul.list-group
                            li.list-group-item
                                span=t('whoami.gender')
                                span.badge #{user.gender_i18n}
                            if camp && (camp.member_status=="approved_mgr" || camp.member_status=="approved")
                                li.list-group-item
                                    span=t('whoami.camp')
                                    span.badge
                                        if user.isCampFree
                                            #{t('camps:camps.no_camp_assigned')}
                                        else
                                            a(href='/:lng/camps/#{camp.id}') #{camp.camp_name} (##{camp.id})
                            li.list-group-item
                                span=t('whoami.phone')
                                span.badge #{user.attributes.cell_phone}
                            li.list-group-item
                                span=t('whoami.birth_date')
                                span.badge #{moment(user.attributes.date_of_birth).format('DD/MM/YYYY')}
                            //- li.list-group-item
                                span=t('whoami.socials')
                                span.badge
                                    a(target='_blank', href='https://www.facebook.com/creativedonut')
                                        i.fa.fa-facebook
                        //- a(href="edit_profile").Btn.Btn__sm Edit
